<div>
  <section>
     <div class="filtersL">
         <!-- Current selections starts -->
         <mat-accordion multi="true" displayMode="flat" *ngIf='searchedText  || fieldsQuery.price.q || fieldsQuery.rating.q'>
               <div class="h6 pt-4">Current selections</div>
               <mat-expansion-panel expanded="true">
                     <mat-nav-list>
                        <div class="d-flex flex-wrap" >
                           <app-pill-badge 
                              *ngIf='searchedText'
                              [selType] = 'searchedText'>
                           </app-pill-badge>
                           <app-pill-badge 
                              *ngIf='fieldsQuery.price.q'
                              selType = 'Price'
                              [selValue] = 'fieldsQuery.price.text'
                              (removeSelection) = removePrice()>
                           </app-pill-badge>
                           <app-pill-badge 
                              *ngIf='fieldsQuery.rating.q'
                              selType = 'Rating'
                              [selValue] = 'fieldsQuery.rating.text'
                              (removeSelection) = removeRating(fieldsQuery)>
                           </app-pill-badge>
                        </div>
                     </mat-nav-list>
               </mat-expansion-panel>
         </mat-accordion> 
         <!-- Current selections ends -->

         <!-- Products Hierarchy starts -->
         <mat-accordion multi="true" displayMode="flat" *ngIf='searchedText'>
               <div class="h6 pt-4">Products Hierarchy</div>
               <mat-expansion-panel expanded="false">
                     <mat-expansion-panel-header >
                           <mat-panel-title>
                              {{searchedText}}
                           </mat-panel-title>
                        </mat-expansion-panel-header>

                     <mat-nav-list>
                           <mat-list-item *ngFor="let item of this.subcategories" (click)="onPressItem(item)" >
                                 {{item}}
                                 </mat-list-item>
                     </mat-nav-list>
               </mat-expansion-panel>
         </mat-accordion> 
         <!-- Products Hierarchy ends -->

      <mat-accordion multi="true" displayMode="flat" *ngFor="let item of filterData">
           <div class="h6 pt-4">{{item.headerText}}</div>
           <mat-expansion-panel [expanded]="item.expanded" *ngFor="let panelList of item.panel" >
              <mat-expansion-panel-header >
                 <mat-panel-title>
                    {{panelList.panelTitle}}
                 </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list [ngSwitch]="panelList.panelType">
                 <div *ngSwitchCase="'link'">
                    <mat-list-item (click)="onPressItem(panelData)" *ngFor="let panelData of panelList.panelData">
                    <a matLine>{{panelData}}</a>
                    </mat-list-item>
                 </div>
                 <div *ngSwitchCase="'sort'">
                    <mat-list-item (click)="onPressSort(iterator.key)" *ngFor="let iterator of panelList.panelData">
                    <a matLine>{{iterator.desc}}</a>
                    </mat-list-item>
                 </div>
                 <div *ngSwitchCase="'rating'">
                    <mat-list-item (click)="onPressRating(val)" *ngFor='let val of panelList.panelData'>
                    <!-- Based on rating value filters are applied -->
                    <a matLine >
                       <app-rating [currentRate]='val'></app-rating>
                       <span class='pl-2' >{{val}} +</span>
                    </a>
                    </mat-list-item>
                 </div>
                 <div *ngSwitchCase="'priceslider'">
                    <range-slider [rangeData]='panelList.panelData'></range-slider>
                 </div>
              </mat-nav-list>
           </mat-expansion-panel>
        </mat-accordion>
     </div>
  </section>
</div>