@import "../../../assets/scss/custom-bootstrap-variables.scss";

.authmock-body {
  margin-top: 90px;
  h5 {
    color: $forgot-password-h5-color;
  }
}
.cb {
  width: 50px;
}
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
.nav-bar-spacing {
  padding-top: 30px;
}

.fontSizeM {
  font-size: 20px;
}
