@import "../../../assets/scss/custom-bootstrap-variables.scss";

.carousel-title {
    padding-left: 2%;
    font-size: 24px;
}

.carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 1%;
    margin-right: 1%;
    .card-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
            .card:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transform: scale(1.1); 
            }
        .card {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 100%;
            width: 18%;
            background-color: white;
            padding: 1%;
            margin: 1%;
            padding-bottom: 1%;
            margin-bottom: 3%;
            margin-top: 2%;
            border: none;
            cursor: pointer;
            .card-content {
                height: 100%;
                .card-image {
                    background-size:     cover;                     
                    background-repeat:   no-repeat;
                    background-position: center center; 
                    height: 100%;
                    width: 100%;
                    padding: 40px;
                }
                .card-text {
                    padding-top: 1%;
                    color: black;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    @media screen and (max-width: $medium-device) {
                        padding-left: 0%;
                    }
                }
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
            @media screen and (max-width: $medium-device) {
                width: 30%;
            }
            @media screen and (max-width: $small-device) {
                width: 70%;
                margin-bottom: 7%;
                margin-top: 5%;
            }
        }
        @media screen and (max-width: $mobile-device) {
            width: 100%;
        }
    }
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
    margin-bottom: 10%;
    width: 2% !important;
    margin-top: 10%;
    background-color: black;
    @media screen and (max-width: $medium-device) {
        width: 4% !important;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    @media screen and (max-width: $mobile-device) {
        width: 8% !important;
        margin-top: 25%;
        margin-bottom: 25%;
    }
}

::ng-deep .carousel-indicators {
    display: none;
}