<ngb-carousel interval='0'>
  <ng-template ngbSlide class="carousel">
      <div class="card-holder2">
          <div class="card2">
              <div class="card-content">
                  <div class="card-image">
                  </div>
              </div>
          </div>
          
          <div class="card2">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
          </div>
          
          
          <div class="card2">
                  <div class="card-content">
                      <div class="card-image">
                      </div>
                  </div>
          </div>
    
          <div class="card2">
                    <div class="card-content">
                        <div class="card-image">
                        </div>
                    </div>
          </div>

          <div class="card2">
                  <div class="card-content">
                      <div class="card-image">
                      </div>
                  </div>
        </div>


      </div>
  </ng-template>



  <ng-template ngbSlide class="carousel">
      <div class="card-holder2">
          <div class="card3">
              <div class="card-content">
                  <div class="card-image">
                  </div>
              </div>
          </div>
          
          <div class="card3">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
          </div>
          
          
          <div class="card3">
                  <div class="card-content">
                      <div class="card-image">
                      </div>
                  </div>
          </div>
    
          <div class="card3">
                    <div class="card-content">
                        <div class="card-image">
                        </div>
                    </div>
          </div>

          <div class="card3">
              <div class="card-content">
                  <div class="card-image">
                  </div>
              </div>
      </div>


      </div>
  </ng-template>


</ngb-carousel>