@import "../../../assets/scss/custom-bootstrap-variables.scss";

.carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 1%;
    margin-right: 1%;
    .card-holder2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .card2 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 260px;
            width: 20%;
            background-color: white;
            padding: 1%;
            padding-bottom: 1%;
            .card-content {
                height: 100%;
                .card-image {
                //    background-image:    url('/assets/images/home_card_1.jpg');
                    background-size:     cover;                     
                    background-repeat:   no-repeat;
                    background-position: center center; 
                    height: 90%; //260px;
                    width: 100%;
                }
                .card-price {
                    padding-top: 1%;
                    color: red;
                    padding-left: 15%;
                }
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }

       
        @media screen and (max-width: $mobile-device) {
            width: 100%;
        }
    }

    @media screen and (max-width: $mobile-device) {
        display: none !important;
    }
}

::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
    margin-bottom: 6%;
    width: 2% !important;
    margin-top: 6%;
    background-color: black;
}

::ng-deep .carousel-indicators {
    display: none;
}