<div class="carousel-title">
  {{ carouselCard.title }}
</div>
<ngb-carousel interval='0'>
  <ng-template ngbSlide class="carousel" *ngFor="let template of carouselData">
    <div class="card-holder">
      <div class="card" *ngFor="let card of template">
        <div class="card-content">
          <img *ngIf="config.image" class="card-image" src="{{ card.image }}">
          <div *ngIf="config.desc" class="card-price">
              {{ card.desc }}
             </div>
          <div *ngIf="config.price" class="card-price">
            {{ card.price }}
          </div>
          <div *ngIf="config.offer" class="card-price">
              Offer: {{ card.offer }}
            </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>