<div class="carousel-title">
  {{ carouselTitle }}
</div>
<ngb-carousel interval='0'>
  <ng-template ngbSlide class="carousel" *ngFor="let template of carouselData">
    <div class="card-holder">
      <div class="card" *ngFor="let card of template">
        <div class="card-content" [routerLink]="['/products/details', card.id]">
          <img *ngIf="carouselConfig.image" class="card-image" src="{{ card.image }}">
          <div *ngIf="carouselConfig.desc" class="card-text">
            {{ card.name }}
          </div>
          <div *ngIf="carouselConfig.price" class="card-price">
            {{ card.currency }} {{ card.price }}
          </div>
          <div *ngIf="carouselConfig.offer" class="card-price">
            Offer: {{ card.offer }}
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>