<footer class="page-footer font-small main">
  <div class="footer-copyright text-center py-3 footer-rapido-icon">
    <a href="{{router.url.replace('#nav-top','')}}#nav-top">Back to Top</a>
  </div>
  <div class="nav-line"></div>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">Get to Know Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/aboutus">About Us</a>
          </li>
          <li>
            <a href="">Careers</a>
          </li>
          <li>
            <a href="">Press Releases</a>
          </li>
          <li>
            <a href="">Credits</a>
          </li>
          <li>
              <a href="/terms">Terms and Conditions</a>
            </li>
            <li>
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">Connect With Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Linked In</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">We are there for You</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/profile">Your Account</a>
          </li>
          <li>
            <a href="#!">Returns Center</a>
          </li>
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a class="commit-color">&#10003; Commit {{ deployedVersion }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-footer-line"></div>
  <div class="footer-copyright text-center py-3 footer-rapido-icon">Rapidobuild.com
  </div>
  <div class="footer-copyright text-center py-3 footer-countries">United Kingdom
  </div>
</footer>
