@import "../../assets/scss/custom-bootstrap-variables.scss";

.main {
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:hover { 
    color: $primary;
}

h5 {
    color: white;
}

.nav-footer-line {
    border-top: 1px solid #3a4553;
    margin-top: 40px;
}

.footer-rapido-icon {
    color: white;
    margin-top: 1%;
}

.footer-countries {
    color: white;
    font-size: small;
}

.nav-line {
    border-top: 1px solid #3a4553;
}