<footer class="page-footer font-small main">
  <div class="footer-copyright text-center py-3 footer-rapido-icon">
    <a href="{{router.url.replace('#nav-top','')}}#nav-top">Back to Top</a>
  </div>
  <div class="nav-line"></div>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">Get to Know Us</h5>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/aboutus']">About Us</a>
          </li>
          <li>
            <a [routerLink]="">Careers</a>
          </li>
          <li>
            <a [routerLink]="">Press Releases</a>
          </li>
          <li>
            <a [routerLink]="">Credits</a>
          </li>
          <li>
              <a [routerLink]="['/terms']">Terms and Conditions</a>
            </li>
            <li>
              <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
            </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">Connect With Us</h5>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="">Facebook</a>
          </li>
          <li>
            <a [routerLink]="">Twitter</a>
          </li>
          <li>
            <a [routerLink]="">Instagram</a>
          </li>
          <li>
            <a [routerLink]="">Linked In</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4">We are there for You</h5>
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/profile']">Your Account</a>
          </li>
          <li>
            <a [routerLink]="">Returns Center</a>
          </li>
          <li>
            <a (click)="handleHelpNaviagte()">Help</a>
          </li>
          <li>
            <a class="commit-color">&#10003; Commit {{ deployedVersion }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-footer-line"></div>
  <!-- <div class="footer-copyright text-center py-3 footer-rapido-icon">Rapidobuild.com
  </div> -->
  <div class="navbar-brand rapido-banner text-align" routerLink="/">
    <img class="img-banner pt-2" src="assets/images/logo-y.png">
   </div>
  <div class="footer-copyright text-center py-3 footer-countries">United Kingdom
  </div>
</footer>
