    <form class="" (ngSubmit)="onSubmitPriceFilter()">
        <div>
            <label>
                <input type="number" [(ngModel)]="selectedMinVal" min="0" (keypress)="keyPress($event)" name="min">
            </label>
            <span class="pr-1 pl-1">  -  </span>
            <label class="pr-3">
                <input type="number" [(ngModel)]="selectedMaxVal" name="max">
            </label>
            <button class="btn font-weight-bold btn-primary rounded-pill" type="submit">Go</button>
        </div>
    </form>
