<div class="">
  <div>
    <app-productcontrols *ngIf="productList && productList.length" [searchedText]=searchedText [responseData]=responseData></app-productcontrols>
      <!-- small device filter control starts -->
      <section class="product-controls position-top mr-2 ml-2 rounded-pill">
        <div class="mx-auto">
            <button type="button" (click)="openDialog()" class="btn ">Filter Controls</button>
        </div>
      </section>
      <!-- small device filter control ends-->
  </div>
    

  <div class="row position-top ">
      <div class="col-md-3 ml-4 mt-2">
          <app-leftsection></app-leftsection>
      </div>
        <!-- Cards List div starts -->
        <div class="row itemListCls col-md-9" >
                <div *ngFor="let item of productListBind" class="">
                    <app-card [itemList]=item></app-card>
                </div>
        </div>
          <!-- Cards list div ends -->
          <div class='m-auto'>
            <mat-paginator 
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = onPageChange($event)">
            </mat-paginator>
          </div>
        
  </div>

</div>