<div class="">
  <div>

    <app-productcontrols *ngIf="productList && productList.length" [searchedText]=searchedText [responseData]=responseData></app-productcontrols>
    <section class="product-controls position-top m-2">

      <!-- small device -->
        <div class="row mr-3">
            <div class="" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn" ngbDropdownToggle>Drop me</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem>Price: Low to High</button>
                <button ngbDropdownItem>Avg. Customer Review</button>
                <button ngbDropdownItem>Newest Arrivals</button>
              </div>
            </div>
            <div class="m-1"></div>
            <button type="button"  routerLink="/filter-mobile" class="btn">Filter</button>
          </div>
    </section>
    
  </div>
    

  <div class="row position-top ">
      <div class="col-md-3 ml-4 mt-2">
          <app-leftsection></app-leftsection>
        </div>
        

        
        
        <!-- Cards List div starts -->
        <div class="row itemListCls col-md-9" >
                <div *ngFor="let item of productList" class="">
                    <app-card [itemList]=item></app-card>
                </div>
          </div>
          <!-- Cards list div ends -->

  </div>

</div>