@import "../../assets/scss/custom-bootstrap-variables.scss";

div {
    div{
        section{
            display: none;
            background: #e4e4e4;
            padding: 10px;
            position: relative;
            top: 1.5rem;
        }
        @media screen and (max-width: $small-device) {
            section{
                display: flex;
                padding-top: 20px;
            }
           }
       
    }
    div {
        // position: relative;
        // top: 1.5rem;
        div{
            @media screen and (max-width: $small-device) {
                app-leftsection{
                    display: none;
                }
               }
        }
    }
    .itemListCls{
        @media screen and (max-width: $small-device) {
            justify-content: center;
        }
    } 
}



