<div class="">
  <div>

    <app-productcontrols *ngIf="productList && productList.length" [searchedText]=searchedText [responseData]=responseData></app-productcontrols>
    

      <!-- small device -->
      <section class="product-controls position-top m-2">
        <div class="row mr-3">
            <div >
              <select matNativeControl class="bg-transparent border-0">
                  <option value="relevanceblender" selected="true">Sort by:</option>
                  <option value="relevanceblender">Featured</option>
                  <option value="price-asc-rank">Price: Low to High</option>
                  <option value="price-desc-rank">Price: High to Low</option>
                  <option value="review-rank">Avg. Customer Review</option>
                  <option value="date-desc-rank">Newest Arrivals</option>
              </select>
            </div>
            <div class="m-1"></div>
            <button type="button"  routerLink="/filter-mobile" class="btn">Filter</button>
        </div>
      </section>
  </div>
    

  <div class="row position-top ">
      <div class="col-md-3 ml-4 mt-2">
          <app-leftsection></app-leftsection>
        </div>
        

        
        
        <!-- Cards List div starts -->
        <div class="row itemListCls col-md-9" >
                <div *ngFor="let item of productList" class="">
                    <app-card [itemList]=item></app-card>
                </div>
          </div>
          <!-- Cards list div ends -->

  </div>

</div>