@import "../../assets/scss/custom-bootstrap-variables.scss";

div {
    div{
        section{
            display: none;
        }
        @media screen and (max-width: $small-device) {
            section{
                display: flex;
                padding-top: 20px;
            }
           }
       
    }
    .itemListCls{
        justify-content: center !important;
    }
    

}

.product-controls {
    background: #e4e4e4;
    padding: 10px;
}

.position-top {
    position: relative;
    top: 1.5rem;
}


