<div class="container checkout-body">
  <form novalidate (ngSubmit)="buy()" [formGroup]="payment">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Full Name</span>
      </div>
      <input #customerName (keyup)="customerNameUpdater(customerName.value)" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
      </div>
      <input #receiptEmail (keyup)="receiptEmailUpdater(receiptEmail.value)" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Order Description</span>
      </div>
      <input #chargeDescription (keyup)="chargeDescriptionUpdater(chargeDescription.value)" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Amount (£)</span>
      </div>
      <input #amount (keyup)="amountUpdater(amount.value)" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <h6>Credit or Debit card</h6>
    <div id="card-element" class="field"></div><br>
    <button class="btn btn-primary" type="submit">Pay £{{ amount.value }}</button>
  </form>
  <br>
  <p>{{ chargeResult }}</p>
<div>
