<div class="review-holder" *ngFor="let review of filteredReview">
  <div class="product-id" *ngIf="!writer">
    Product ID : 
    <a>{{review.product_id}}</a>
  </div>
  <div class="icon-name" *ngIf="writer">
    <a  class="rapido-icon mat-button rapido-icon-hider">
      <i class="fa fa-user fa-2x pt-1"></i>
    </a>
    <span>Anonymous</span>
  </div>
  <div class="customer-rating">
    <app-rating styleClass='size-sm' [currentRate]="review.rating"></app-rating>
    <span class="review-title">{{review.title}}</span>
  </div>
  <div class="review-date">
    <span>{{review.date}}</span>
  </div>
  <div class="verified-purchase">
    <span>Verified Purchase</span>
  </div>
  <div class="review-desc">
    <span>{{review.summary}}</span>
  </div>
  <div class="helpful-count">
    <span>{{review.helpful}} people found this helpful</span>
  </div>
  <div class="review-feedback" *ngIf="feedback">
    <button mat-flat-button color="primary" (click)="helpfulRatingIncrement(review.id)">
      <span role="status" aria-hidden="true"></span>
      Helpful
    </button>
    <a (click)="deactivateRating(review.id)">Report Abuse</a>
  </div>
  <div class="review-action" *ngIf="action">
    <button mat-flat-button color="primary" (click)="editReview(review.id)">
      <span role="status" aria-hidden="true"></span>
      Edit Review
    </button>
    <button mat-flat-button color="primary" (click)="deleteReview(review.id)">
      <span role="status" aria-hidden="true"></span>
      Delete Review
    </button>
  </div>
</div>
