@import "../../../assets/scss/custom-bootstrap-variables.scss";

.review-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #e1e4e8;
    .product-id {
        padding-left: 2%;
        margin-top: 2%;
        a {
            cursor: pointer;
            color: $primary;
        }
    }
    .icon-name {
        span {
            color: #767676;
        }
    }
    .customer-rating {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 2%;
        .review-title {
            margin-top: 1%;
            margin-left: 1%;
        }
    }
    .review-date {
        padding-left: 2.6%;
        font-size: medium;
    }
    .verified-purchase {
        padding-left: 2.6%;
        span {
            color: #B12704;
        }
    }
    .review-desc {
        margin-top: 1%;
        padding-left: 2.6%;
    }
    .helpful-count {
        margin-top: 2%;
        padding-left: 2.6%;
        span {
            color: #767676;
        }
    }
    .review-feedback {
        margin-top: 1%;
        padding-left: 2.6%;
        a {
            margin-left: 2%;
            cursor: pointer;
            color: $primary;
        }
    }
    .review-action {
        button {
            margin-right: 2%;
        }
    }
}