<a class="card p-2 main-div" target="_blank" [routerLink]="['/products/details', itemList.id]">
  <app-images [imgSrc]=itemDetails.images [imgTitle]=itemDetails.name></app-images>
  <div class="card-body">
     <h6>
        <a>
        <span>{{itemDetails.name}}</span>
        </a>
     </h6>
     <app-rating [readonly]=true [currentRate]=itemDetails.rating></app-rating>
     <div>
        <span aria-hidden="true" class="text-danger">
        <!-- Actual Price -->
        <span class="a-price-whole">{{ itemDetails.price | currency:currencySymbol }}</span>
        </span>
        <span aria-hidden="true" *ngIf="+itemDetails.offer" class="small p-2">
        <!-- Discounted Price -->
        <s class="a-price-whole">{{ mrpPrice | currency:currencySymbol }}</s>
        </span> 
        <span class="small p-2">
         <!-- actualPrice saved -->
         <span *ngIf="+itemDetails.offer">  {{ itemDetails.offer * 100}}% <b>Off</b> </span>
        </span>
     </div>
  </div>
</a>