<div class="main-div">
  <div class="review-div">
      <div class="title">
          <h3>Review your purchase</h3>
        </div>
        <div class="overall-rating">
          <div>
            <span>Overall Rating</span>
          </div>
          <app-rating styleClass='size-bg'></app-rating>
        </div>
        <div class="review-desc">
      
        </div>
        <div class="review-title">
      
        </div>
        <div class="actions">
          <button mat-flat-button color="primary" (click)="submitReview()">
            <span role="status" aria-hidden="true"></span>
            Submit Review
          </button>
        </div>    
  </div>
</div>
