<div class="title-div">
  <h4>
    Add a new address
  </h4>
</div>
<div class="add-address-main">
  <form class="form-details" novalidate (ngSubmit)="addAddress()">
    <mat-form-field>
      <input matInput maxlength="15" placeholder="Mobile Number" [(ngModel)]="addressItems.mobileNumber"
      [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput maxlength="15" placeholder="Full Name" [(ngModel)]="addressItems.name"
      [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput maxlength="15" placeholder="Pincode" [(ngModel)]="addressItems.pincode"
      [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput maxlength="45" placeholder="Street Address" [(ngModel)]="addressItems.streetAdd"
      [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <input matInput maxlength="15" placeholder="City" [(ngModel)]="addressItems.city"
      [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field>
      <mat-label>State</mat-label>
  <mat-select>
    <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option> -->
    <mat-option>None</mat-option>
    <mat-option value="option1">Karnataka</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
    </mat-form-field>
    <mat-card-actions>
      <button mat-flat-button color="primary" type="submit">
          <!-- <span *ngIf="_progressSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
          Add Address
      </button>
    </mat-card-actions>
  </form>
</div>