@import "../../../assets/scss/custom-bootstrap-variables.scss";
.main-div {
  display: flex;
  flex-direction : row;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 5%;
  .nav-bar-spacing {
    .form-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .button-spacing {
        padding-bottom: 20px;
      }
      .text-wrap {
        display: flex;
        flex-wrap: wrap;
      }
    }
    .margin-top {
      margin-top: 2%;
      
    }
    .form-container2 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .opacity5 {
        opacity: 0.5;
      }
      .partitioned {
        padding-left: 15px;
        letter-spacing: 40px;
        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);   
        background-position: bottom;   
        background-size: 50px 1px;   
        background-repeat: repeat-x;   
        background-position-x: 35px;   
        width: 300px !important;
      }
      .partitioned:focus {
        outline: none;
      }
      .flex-button {
        display: flex;
        .width8{
          width: 110px;
        }
      }
    }
    @media screen and (max-width: $mobile-device) {
      min-width: 100%;
    }
  }
  @media screen and (max-width: $mobile-device) {
    width: 90%;
  }
}