<div class="card m-2" style="width: 17rem;">
  <app-images></app-images>
  <div class="card-body">
      <h6 class="">
        <a class="" href="_">
          <span class="">iBall M500 14-inch Laptop Cobalt Blue</span>
        </a>
      </h6>
       <app-rating currentRate="3"></app-rating>
       <div>
         <span aria-hidden="true" class="text-danger">
             <span class="a-price-symbol">₹</span>
             <span class="a-price-whole">11,990</span>
          </span>
          <span aria-hidden="true" class="small m-2">
            <span class="a-price-symbol">₹</span>
            <s class="a-price-whole">2,599</s>
          </span>
         <span class="small m-2">
            <span>Save ₹1,170 (45%)</span>
         </span>
            
       </div>

    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
