<div class="main-div">
  <div  class="image-div">
      <div class="head-text-div">
          <div class="title-div">
            <h1>Welcome</h1>
          </div>
          <div class="about-us-div">
            <p>
                At Website.com, we believe everyone deserves to have a website or online store. 
                Innovation and simplicity makes us happy: our goal is to remove any 
                technical or financial barriers that can prevent business owners 
                from making their own website. 
                We're excited to help you on your journey!
            </p>
          </div>
        </div>
  </div>
</div>  