.main-div {
    .image-div {
        height: 683px;
        background-image:    url('/assets/images/Rapido1.jpeg');
        background-size:     cover;                     
        background-repeat:   no-repeat;
        background-position: center center; 
    }
}