<div>
    <div class="titleBarLarge">
        <span class="h4">1-16 of 822 results for 
          <span class="h5 text-danger p-2"> "mac books pro" </span>
        </span>
        <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
      
      <div>
        <mat-label>Sort by: </mat-label>
        <select matNativeControl>
            <option value="relevanceblender" selected="true">Featured</option>
            <option value="price-asc-rank">Price: Low to High</option>
            <option value="price-desc-rank">Price: High to Low</option>
            <option value="review-rank">Avg. Customer Review</option>
            <option value="date-desc-rank">Newest Arrivals</option>
        </select>
      </div>
      
    </div>
    </div>