
<div class="main-div ">
    <!-- Product gallery section starts -->
    <div class="product-gallery-container col-md-5">
      <header>
          <h3 class="">
              <a class="" >
                <span class="">{{itemDetails.name}}</span>
              </a>
            </h3>
      </header>
        <img [src]=imagePreviewURI class="reg-size ml-5"/>
        <div class="thumbnail-row">
          <img
            *ngFor="let imageObj of imageDetails; let i = index"  
            class="p-2 m-2 thumbnail"
            [ngClass]="{
              'thumbnail-sel':imageObj.active,
              'thumbnail-deSel':!imageObj.active
            }"
            [src]=imageObj.uri 
            (click)="showPicture(imageObj.uri, i)"
            />
        </div>
    </div>
    <!-- Product gallery section ends -->

    <!-- Details section starts -->
    <div class="details-div col-md-5">
      <div class="card-body">
        <h3 class="">
          <a class="" >
            <span class="">{{itemDetails.name}}</span>
          </a>
        </h3>
         <app-rating 
         styleClass='size-bg'
         [currentRate]='itemDetails.rating'>

         </app-rating>
         
         <hr/>

         <div class="price-section h5">
           <span aria-hidden="true" class="text-danger ">
              Price:
               <span class="a-price-symbol">{{itemDetails.currency}}</span>
               <span class="a-price-whole">{{itemDetails.price}}</span>
            </span>
            <span aria-hidden="true" class="small ">
                M.R.P.:
              <span class="a-price-symbol">{{itemDetails.currency}}</span>
              <s class="a-price-whole">{{mrpPrice}}</s>
            </span>
           <span class="small ">
             You Save:
              <span>{{ itemDetails.offer * 100}}%</span>
           </span>
         </div>
         
         <hr/>

         <div class="product-points">
            <ul class="">
                <li *ngFor="let point of itemDetails.points">
                  <span class="">{{point}}</span>
                </li> 
              </ul>
         </div>

    </div>
    </div>
    <!-- Details section ends -->

    <!-- Add to cart section starts -->
    <div class="order-div col-md-2"> 
      <div class="">
        <h4>{{itemDetails.currency}} {{itemDetails.price}}</h4>
           <!-- <div class="input-group">
             <input 
                type="number" 
                name="quantity" 
                class="form-control input-number" 
                value="10"
                [(ngModel)]="quantity" 
                min="1" 
                max="100">
          </div> -->

          <div>
            <label>Quantity: 1</label>
          </div>
          <div routerLink="/checkout">
            <button 
              type="button"
              
              class="btn btn-outline-dark btn-warning btn-block">

              Add to cart
            </button>

          </div>
      </div>
    </div>
    <!-- Add to cart section ends -->
</div>
