<div class="pdmain p-2 m-2">
  <div class="imgZoom">
     <app-image-zoom></app-image-zoom>
  </div>
  <div class="card-body">
     <h6>
        <a >
        <span>iBall M500 14-inch Laptop Cobalt Blue</span>
        </a>
     </h6>
     <app-rating currentRate="3"></app-rating>
     <div>
        <span aria-hidden="true" class="text-danger">
        <span class="a-price-symbol">₹</span>
        <span class="a-price-whole">11,990</span>
        </span>
        <span aria-hidden="true" class="small m-2">
        <span class="a-price-symbol">₹</span>
        <s class="a-price-whole">2,599</s>
        </span>
        <span class="small m-2">
        <span>Save ₹1,170 (45%)</span>
        </span>
     </div>
     <div class="spacer"></div>
     <div class="row">
        <div>
           <div class="input-group">
              <span class="input-group-btn">
              <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
              -
              </button>
              </span>
              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
              <span class="input-group-btn">
              <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
              +
              </button>
              </span>
           </div>
        </div>
     </div>
  </div>
</div>