@import "../../assets/scss/custom-bootstrap-variables.scss";

.main-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .title-div {
        margin-top: 5%;
        margin-left: 15%;
        @media screen and (max-width: $mobile-device) {
             margin-left: 5%;    
         }
    }
    .order-card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 2%;
        border-width: 2px;
        box-sizing: border-box;
        border-color: white;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
        border-style: solid;
        .order-card-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
            height: 20%;
            border-bottom: 1px solid;
            border-color: black !important;
            background-color: black;
            color: white;
            .date-div {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                margin-top: 1%;
                margin-left: 1%;
                width: 25%;
                font-size: 13px;
                .label {
                    text-transform: uppercase;
                    @media screen and (max-width: $mobile-device) {
                        width: 40%;
                        margin-right: 2%;
                        
                    }
                }
                @media screen and (max-width: $mobile-device) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    width: 100%;
                    
                }
            }
            @media screen and (max-width: $mobile-device) {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: 30%;
            }
        }
        .order-card-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1%;
            .item {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 75%;
                .item-status {
                    .status-label {
                        font-weight: 700!important;
                        font-size: 20px!important;
                        color: green;
                    }
                }
                .item-detail {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    border-bottom: 1px solid #e1e4e8;
                    margin-bottom: 2%;
                    .item-image {
                        width: 25%;
                        padding: 2%;
                        img {
                            width: 60%;
                        }
                    }
                    .item-desc-price {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        width: 75%;
                        a {
                            color: black;
                        }
                        a:hover { 
                            color: $primary;
                        }
                        .price-tag {
                            color: red;
                        }
                    }
                }
                @media screen and (max-width: $mobile-device) {
                    width: 100%;
                }
            }
            .item-action {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 20%;
                margin-left: 5%;
                .action-but {
                    background-color: $primary;
                    margin-top: 2%;
                }
                @media screen and (max-width: $small-device) {
                    width: 100%;
                    margin-top: 0%;
                    margin-left: 0%;
                }
            }
        }
        @media screen and (max-width: $mobile-device) {
            margin-left: 5%;
            margin-right: 5%; 
        }
    }
}