<div class="main-div">
  <div class="title-div">
    <h4>Your Orders</h4>
  </div>
  <div class="order-card">
    <div class="order-card-header">
      <div class="date-div">
        <span class="label">Order placed: </span>
        <span>12 July 2019</span>
      </div>
      <div class="date-div">
          <span class="label">Total: </span>
          <span>1299.00</span>
      </div>
      <div class="date-div">
          <span class="label">Ship To </span>
          <span>Anirup Patnaik</span>
      </div>
      <div class="date-div">
          <span class="label">Order#: </span>
          <span>1404-6097289-5243513</span>
      </div>
    </div>
    <div class="order-card-items">
      <div class="item">
        <div class="item-status">
          <span class="status-label">Delivered</span>
        </div>
        <div class="item-detail">
          <div class="item-image">
              <img class="image" src="https://s3.eu-west-2.amazonaws.com/rapido-build-assets-bucket/images/products/2/image1.jpg">
          </div>
          <div class="item-desc-price">
            <span>Aeidess Tempered Glass for Apple iPhone Xs/X (Black)-Edge to Edge Full Screen Coverage</span>
            <span>1000</span>
          </div>
        </div>


        <div class="item-detail">
            <div class="item-image">
                <img class="image" src="https://s3.eu-west-2.amazonaws.com/rapido-build-assets-bucket/images/products/2/image1.jpg">
            </div>
            <div class="item-desc-price">
              <span>Aeidess Tempered Glass for Apple iPhone Xs/X (Black)-Edge to Edge Full Screen Coverage</span>
            </div>
        </div>

        <div class="item-detail">
            <div class="item-image">
                <img class="image" src="https://s3.eu-west-2.amazonaws.com/rapido-build-assets-bucket/images/products/2/image1.jpg">
            </div>
            <div class="item-desc-price">
              <span>Aeidess Tempered Glass for Apple iPhone Xs/X (Black)-Edge to Edge Full Screen Coverage</span>
            </div>
        </div>


        <div class="item-detail">
            <div class="item-image">
                <img class="image" src="https://s3.eu-west-2.amazonaws.com/rapido-build-assets-bucket/images/products/2/image1.jpg">
            </div>
            <div class="item-desc-price">
              <span>Aeidess Tempered Glass for Apple iPhone Xs/X (Black)-Edge to Edge Full Screen Coverage</span>
            </div>
        </div>
      </div>

      


      <div class="item-action">
          <button mat-button class="feedback-button">Proceed to Buy</button>
      </div>
      
    </div>
  </div>




  <div class="order-card">
      <div class="order-card-header">
        <div class="date-div">
          <span class="label">Order placed: </span>
          <span> 12 July 2019</span>
        </div>
        <div class="date-div">
            <span class="label">Total: </span>
            <span> 1299.00</span>
        </div>
        <div class="date-div">
            <span class="label">Ship To: </span>
            <span> Anirup Patnaik</span>
        </div>
        <div class="date-div">
            <span class="label">Order#: </span>
            <span> 1404-6097289-5243513</span>
        </div>
      </div>
    </div>

  
</div>