@import "../../../assets/scss/custom-bootstrap-variables.scss";

.card1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 420px;
    width: 99%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 1%; 
    margin-right: 1%;
    background-color: black;
    box-shadow: 2px 2px 2px 2px grey;
    .card-content {
        height: 100%;
        padding-left: 8%;
        padding-right: 8%;
        .card-heading {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 18px;
            font-weight: 900;
            color: white;
            padding-top: 5%;
            height: 10%;
        }
        .card-image {
         //   background-image:    url('/assets/images/home_card_1.jpg');
            background-size:     cover;                     
            background-repeat:   no-repeat;
            background-position: center center; 
            height: 70%;
            padding-top: 6%;
            .image {
                width: 100%;
                @media screen and (max-width: $mobile-device) {
                 //   width: 100% !important;
                }
                @media screen and (max-width: $medium-device) {
                    width: 90%;
                }
            }
            @media screen and (max-width: $mobile-device) {
                padding-left: 10% !important;
            //    margin-right: 10% !important;
                padding-bottom: 7% !important;
            }
            @media screen and (max-width: $medium-device) {
                padding-left: 10%;
             //   margin-right: 8%;
              //  margin-bottom: 5%;
            }
        }
        .card-desc {
            font-weight: initial;
            font-size: 14px;
            color: white;
            height: 20%;

        }
    }
    @media screen and (max-width: $mobile-device) {
        width: 100%;
        margin-bottom: 1%;
    }
}