<section class="col-xs-12 product-controls no-pad">
            
            
  <div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-offset-0 col-md-3 sort-type">
      <label class="hidden-eu">Sort:</label>
      <div id="sort_results"><div><div class="ais-root ais-sort-by-selector selectbox btn-secondary clear"><div class="ais-body"><div class="ais-selected">Sort by</div><select class="ais-sort-by-selector"><option class="ais-sort-by-selector--item" value="TSUK_NEW_en_products">Sort by</option><option class="ais-sort-by-selector--item" value="TSUK_NEW_en_products">Relevance</option><option class="ais-sort-by-selector--item" value="TSUK_NEW_en_products_by_price_asc">Price (lowest to highest)</option><option class="ais-sort-by-selector--item" value="TSUK_NEW_en_products_by_price_desc">Price (highest to lowest)</option></select></div></div></div></div>            </div>
  
  <div id="refine_mobile" class="col-xs-6 col-sm-5 col-md-3 hidden-md hidden-lg refine-type">
      <span>Filter by</span>            </div>
</section>