<app-product-menu></app-product-menu>

<div class="home-div">
  <div class="card-holder">
    <app-home-card [cardDetails]=card class="app-home-card" *ngFor="let card of cardDetails"></app-home-card>  
  </div>
  <div class="carousel-holder">
    <app-carousel class="rapido-desktop-component" [carouselConfig]="desktopConfig" [carouselCard]="carousel.RecommendedSet.data" [carouselTitle]="carousel.RecommendedSet.title"></app-carousel>
    <app-carousel class="rapido-tablet-component"  [carouselConfig]="tabletConfig"  [carouselCard]="carousel.RecommendedSet.data" [carouselTitle]="carousel.RecommendedSet.title"></app-carousel>
    <app-carousel class="rapido-mobile-component"  [carouselConfig]="mobileConfig"  [carouselCard]="carousel.RecommendedSet.data" [carouselTitle]="carousel.RecommendedSet.title"></app-carousel>
  </div>
  <div class="card-holder">
    <div class="banner-card" (click)="handleSale()">
      <img  src="{{banner}}">
    </div>
    <app-home-card [cardDetails]=card class="app-home-card" *ngFor="let card of bannerCard"></app-home-card>  
  </div>
  <div class="carousel-holder">
    <app-carousel class="rapido-desktop-component" [carouselConfig]="desktopConfig" [carouselCard]="carousel.RecommendedList.data" [carouselTitle]="carousel.RecommendedList.title"></app-carousel>
    <app-carousel class="rapido-tablet-component"  [carouselConfig]="tabletConfig"  [carouselCard]="carousel.RecommendedList.data" [carouselTitle]="carousel.RecommendedList.title"></app-carousel>
    <app-carousel class="rapido-mobile-component"  [carouselConfig]="mobileConfig"  [carouselCard]="carousel.RecommendedList.data" [carouselTitle]="carousel.RecommendedList.title"></app-carousel>
  </div>
  <app-carousel-scroll class="carousel-scroll" [CarouselConfig]="desktopConfig" [carouselCard]="carousel.BrowsingHistory.data" [carouselTitle]="carousel.BrowsingHistory.title"></app-carousel-scroll>
</div>