@import "../../../assets/scss/custom-bootstrap-variables.scss";

.home-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .card-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2%;
        width: 100%;
        height: 450px;
        .banner-card {
            width: 47%;
            margin-right: 1.5%;
            margin-left: 1.5%;
            margin-bottom: 2%;
            height: 420px;
            img {
                width: 100%;
                height: 420px;
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }
        .app-home-card {
            width: 22%;
            margin-right: 1.5%;
            margin-left: 1.5%;
            margin-bottom: 2%;
            cursor: pointer;
            @media screen and (max-width: $mobile-device) {
                width: 100% !important;
            }
            @media screen and (max-width: $medium-device) {
                width: 42%;
            }
        }
        @media screen and (max-width: $medium-device) {
            height: 0%;
        }
        @media screen and (max-width: $mobile-device) {
            width: 100%;
            margin-top: 5%;
        }
    }

    .carousel-holder {
        margin-top: 3%;
        width: 100%;
        .rapido-desktop-component {
            display: block;
            @media screen and (max-width: $mobile-device) {
                display: none !important;
            }
            @media screen and (max-width: $medium-device) {
                display: none !important;
            }
        }
        .rapido-tablet-component {
            display: none;
            @media screen and (max-width: $medium-device) {
                display: block !important;
            }
            @media screen and (max-width: $small-device) {
                display: none !important;
            }
        }
        .rapido-mobile-component {
            display: none;
            @media screen and (max-width: $medium-device) {
                display: none !important;
            }
            @media screen and (max-width: $small-device) {
                display: block !important;
            }
        }
        @media screen and (max-width: $mobile-device) {
            margin-top: 5%;
        }
    }

    .carousel-scroll {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 3%;
        @media screen and (max-width: $mobile-device) {
            width: 99%;
            margin-top: 5%;
        }
    }
    @media screen and (max-width: $mobile-device) {
        width: 100%;
    }
}


*{
	margin: 0;
}
.main, .sub, .sub2{
	list-style: none;
	padding: 10px;
	background: #333;
	display: flex;
}
.main li, .sub li, .sub2 li{
	width: 100%;
	text-align: center;
	position: relative;
}
.main li a, .sub li a, .sub2 li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px;
}
.main li a:hover, .sub li a:hover, .sub2 li a:hover{
	background: #fff;
	color: #333;
}
.sub{
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	flex-wrap: wrap;
	padding: 0;
	display: none;
	border: 1px solid #333;
	box-sizing: border-box;
}
.main li:hover .sub{
	display: block;
}
.sub2{
	width: 100%;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 100%;
	border: 1px solid #333;
	box-sizing: border-box;
	padding: 0;
	display: none;
}
.sub li:hover .sub2{
	display: block;
}
.vertical, .v1, .v2{
	list-style: none;
	padding: 0;
	width: 200px;
	background: #d7d7d7;
}
.vertical{
	position: relative;
	border: 1px solid #333;
	box-sizing: border-box;
}
.vertical li a{
	text-decoration: none;
	text-transform: capitalize;
	color: #333;
	display: block;
	padding: 5px;
	position: relative;
}
.vertical li a:hover{
	color: orange;
}
.vertical li a:hover:after{
	content: "»";
	position: absolute;
	right: 5px;
	display: block;
	top: 5px;
}
.v1{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #d7d7d7;
	left: 100%;
	top: -1px;
	display: none;
	border: 1px solid #333;
	box-sizing: border-box;
}
.v2{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #d7d7d7;
	left: 100%;
	top: -1px;
	display: none;
	border: 1px solid #333;
	box-sizing: border-box;
}
.vertical li:hover .v1{
	display: block;
}
.v1 li:hover .v2{
	display: block;
}
.horizontal{
	background: black;
	//margin-top: 30px;
	display: flex;
	list-style: none;
	justify-content: space-around;
	position: relative;
}
.toolbar-data {
    color: white !important;
}

.mega-menu-col-header {
    text-transform: uppercase !important;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: bold;
}

.horizontal li a{
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}
.column{
	padding: 0 15px 15px;
	color: black;
}
.column ul{
	list-style: none;
	padding: 0;
}
.column ul li a{
	padding: 2px 0;
}
.dropdown{
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	display: flex;
	justify-content: space-between;
	background: white;
    visibility: hidden;
    z-index: 1;
}
.horizontal li:hover .dropdown{
    visibility: visible;
}

.horizontal li:hover .toolbar-data {
    background-color: white;
    color: black !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}