<app-product-menu></app-product-menu>


<!-- <div> -->
  <ngb-carousel class="image-carousel" #carousel2 interval="5000" [pauseOnHover]="pauseOnHover">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <a target="_blank" rel="nofollow noopener noreferrer">
        <div class="image-div">
          <img class="image2" [src]="img" alt="My image {{i + 1}} description" style="width: 100%;">
          <div id="bottom_fade">
            <img class="bottom-image"  [src]="bottomImage" style="width: 100%;">
          </div>
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
  <!-- <div class="lets-fade-it"></div> -->
<!-- </div> -->



<div class="home-div">
  <div class="card-holder">
    <app-home-card [cardDetails]=card class="app-home-card" *ngFor="let card of cardDetails"></app-home-card>  
  </div>

  <div class="card-holder">
    <app-home-card-flip [cardDetails]=card class="app-home-card" *ngFor="let card of cardDetails"></app-home-card-flip>  
  </div>

  <div class="carousel-holder">
    <app-carousel class="rapido-desktop-component" [carouselConfig]="desktopConfig" [carouselCard]="carousel.RecommendedSet.data" [carouselTitle]="carousel.RecommendedSet.title"></app-carousel>
    <app-carousel class="rapido-tablet-component"  [carouselConfig]="tabletConfig"  [carouselCard]="carousel.RecommendedSet.data" [carouselTitle]="carousel.RecommendedSet.title"></app-carousel>
    <app-carousel class="rapido-mobile-component"  [carouselConfig]="mobileConfig"  [carouselCard]="carousel.RecommendedSet.data" [carouselTitle]="carousel.RecommendedSet.title"></app-carousel>
  </div>

  <div class="carousel-holder">
    <app-carousel-flip class="rapido-desktop-component" [carouselConfig]="desktopConfig" [carouselCard]="carousel.newAddedProductSet.data" [carouselTitle]="carousel.newAddedProductSet.title"></app-carousel-flip>
    <app-carousel-flip class="rapido-tablet-component"  [carouselConfig]="tabletConfig"  [carouselCard]="carousel.newAddedProductSet.data" [carouselTitle]="carousel.newAddedProductSet.title"></app-carousel-flip>
    <app-carousel-flip class="rapido-mobile-component"  [carouselConfig]="mobileConfig"  [carouselCard]="carousel.newAddedProductSet.data" [carouselTitle]="carousel.newAddedProductSet.title"></app-carousel-flip>
  </div>

  <div class="card-holder">
    <div class="banner-card" (click)="handleSale()">
      <img  src="{{banner}}">
    </div>
    <app-home-card [cardDetails]=card class="app-home-card" *ngFor="let card of bannerCard"></app-home-card>  
  </div>
  <div class="carousel-holder">
    <app-carousel class="rapido-desktop-component" [carouselConfig]="desktopConfig" [carouselCard]="carousel.RecommendedList.data" [carouselTitle]="carousel.RecommendedList.title"></app-carousel>
    <app-carousel class="rapido-tablet-component"  [carouselConfig]="tabletConfig"  [carouselCard]="carousel.RecommendedList.data" [carouselTitle]="carousel.RecommendedList.title"></app-carousel>
    <app-carousel class="rapido-mobile-component"  [carouselConfig]="mobileConfig"  [carouselCard]="carousel.RecommendedList.data" [carouselTitle]="carousel.RecommendedList.title"></app-carousel>
  </div>
  <app-carousel-scroll class="carousel-scroll" [CarouselConfig]="desktopConfig" [carouselCard]="carousel.BrowsingHistory.data" [carouselTitle]="carousel.BrowsingHistory.title"></app-carousel-scroll>
</div>