@import "../../../assets/scss/custom-bootstrap-variables.scss";

.carousel-title {
    padding-left: 2%;
    font-size: 24px;
}
.container {
    display: flex;    
    overflow-x: auto;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 98%;
    width: 90%;
    overflow-y: hidden;
    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 350px;
        width: 25%;
        background-color: white;
        margin: 1%;
        cursor: pointer;
        .card-content {
            height: 100%;
            .card-image {
                background-size:     cover;                     
                background-repeat:   no-repeat;
                background-position: center center; 
                width: 80%;
                padding: 70px;
                @media screen and (max-width: $mobile-device) {
                    width: 90%;
                    padding-left: 10%;
                }
            }
            
                .card-price {
                    color: red;
                }
            
        }
        @media screen and (max-width: $mobile-device) {
            width: 100% !important;
        }
        @media screen and (max-width: $medium-device) {
            width: 40%;
            height: 100%;
        }
    }
    img {
        min-width: 250px;
    }
    @media screen and (max-width: $medium-device) {
        height: 100%;
    }
}