<div class="carousel-title">
  {{ carouselCard.title }}
</div>
<div class="container"> 
  <div class="card2" *ngFor="let card of carouselData">
    <div class="card-content">
      <img *ngIf="CarouselConfig.image" class="card-image" src="{{ card.image }}">
      <div *ngIf="CarouselConfig.desc" class="card-price">
          {{ card.name }}
      </div>
      <div *ngIf="CarouselConfig.price" class="card-price">
        {{ card.price }}
      </div>
      <div *ngIf="CarouselConfig.offer" class="card-price">
          Offer: {{ card.offer }}
      </div>
    </div>
  </div>
</div>