<mat-toolbar color="primary" class="stick-top">
  <mat-toolbar-row class="main-toolbar">
     <div class="block">
        <div class="block-one">
         <button mat-icon-button (click)="toggleSidenav.emit()" class="fa">
            <mat-icon>menu</mat-icon>
          </button>
           <div class="navbar-brand rapido-banner" routerLink="/">
            <img class="img-banner" src="assets/images/logo-b.png">
           </div>
           
        </div>
        <div class="block-two pt-2">
           <form (ngSubmit)="onSearch($event)" >
              <input id="idSearchInput" type="text" placeholder="Search for materials..." [(ngModel)]="searchedText" name="search"  >
              <i class="fa fa-search search-icon" aria-hidden="true" (click)="onSearch($event)"></i>
              <button type="submit" style="display:none">hidden submit</button>
           </form>
        </div>
        <div class="block-three pt-2">
           <div *ngIf="isSignedIn" class="rapido-icon-spacer">
              <a  class="rapido-icon mat-button rapido-icon-hider" [matMenuTriggerFor]="menu">
                 <!-- <svg aria-hidden="true" aria-haspopup="menu">
                    <use xlink:href="#man-user"/>
                 </svg> -->
                 <i class="fa fa-user fa-2x pt-1"></i>
              </a>
           </div>
           <mat-menu #menu="matMenu">
              <div class="sign-in-class">
                 <div>Hi</div>
                 <div>
                    <strong>
                    {{name}}
                    </strong>!
                 </div>
              </div>
              <div role="none" class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="handleProfileNavigation()">My Profile</a>
              <div (click)="signOut()">
                 <a class="dropdown-item">Log Out</a>
              </div>

           </mat-menu>
           <div *ngIf="!isSignedIn && router.url != '/login'" aria-label="Menu" class="rapido-sign-in mr-3">
              <a routerLink="/login" class="tag">Log in</a>
           </div>
           <div class="rapido-icon-spacer" routerLink="/cart">
              <a class="rapido-icon" >
                 <svg>
                    <use xlink:href="#shopping-cart" />
                 </svg>
              </a>
           </div>
           <div class="cartCountCls" routerLink="/cart">
              {{cartCount}}
           </div>
        </div>
     </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
   <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> 
 </mat-toolbar-row>
</mat-toolbar>
