<div class="main-div">
  <div class="title-div">
    <h1>
      My Account
    </h1>
  </div>
  <div class="rapido-profile">
    <div class="rapido-profile-item" *ngFor="let item of profileItems" [routerLink]="[ item.route ]" >
      <div class="icon-div">
        <a class="rapido-icon">
          <svg aria-hidden="true" aria-haspopup="menu">
            <use [attr.xlink:href]="item.icon"/>
          </svg>
        </a>
      </div>
      <div class="content-div">
        <h4>
          {{ item.title }}
        </h4>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>