<div class="">
  <h4>
    My Company Details
  </h4>
</div>
<div class="rapido-add-company">
  <a *ngIf="hide_plus_card" class="rapido-add-company-icon">
    <div class="company-add-icon">
      <a class="" href="profile/companyDetails/newDetails">
        <svg aria-hidden="true" aria-haspopup="menu">
            <use xlink:href="#add"/>
        </svg>
      </a>
    </div>
    <div class="text-div">
        <p>Add Company Details</p>  
    </div>
    <div class="content-div">
      
    </div>
  </a>
  <div class="rapido-add-company-item">
    <div class="address-text">
      <strong> {{ companyItems.organisation }} </strong>
      <br /><p>{{ companyItems.add1 }}
      <br /> {{ companyItems.add2 }}
      <br /> {{ companyItems.town_city }}, {{ address.postcode }} 
      <br /> {{ companyItems.country }}
    </div>
    <div class="card-actions">
      <a (click)="addressEdit(address.id)">Edit</a> |
      <a (click)="addressDelete(address.id)">Delete</a>
    </div>
  </div>



</div>