<div class="m-3">
  <h2>
    Current Job Openings
  </h2>
  <h6>
    Graphic Designer 
  </h6>
  <div>
    <ul>
      <li>Prepares work to be accomplished by gathering information and materials.</li>
      <li>Plans concept by studying information and materials.</li>
      <li>Illustrates concept by designing rough layout of art and copy regarding arrangement, size, type size and style, and related aesthetic concepts.</li>
    </ul>
    <div>
      Interested candidates can send your profile to 
      <a href="mailto:sharan@virtuelabs.io?Subject=Graphic-Designer-Profile" target="_top"> sharan@virtuelabs.io</a>
    </div>
  </div>
</div>
