<div class="main-div">
  <div class="title-div">
    <h4>Current Job Openings</h4>
  </div>
  <div class="job-openings">
    <div class="job-card">
      <div class="title-date">
        <div class="title">
          <span>Graphic Designer</span>
        </div>
        <div class="date">
          <span>Posted August 20, 2019</span>
        </div>
      </div>
      <div class="loc-job-id">
        <span>
          IN, KA, Bangalore | Job ID: 1
        </span>
      </div>
      <div class="job-desc">
          <strong>Responsibilities and Duties:</strong>
        <ul>
          <li>Prepares work to be accomplished by gathering information and materials.</li>
          <li>Plans concept by studying information and materials.</li>
          <li>Design and develop creative web layouts</li>
          <li>Design logos and other media elements</li> 
          <li>Design Android and IOS app's screens</li>
          <li>Design for print ( business cards, leaflets, brochure etc</li>
          <li>Retouching Skills</li>
          <li>Design regular Newsletter</li>
          <li>HTML/CSS skills is a plus</li>
        </ul> 
        <strong>Must Haves:</strong> 
        <ul>
          <li>Positive attitude, self-motivated.</li>
          <li>Degree in related area.</li>
          <li>Proactive creative ideation.</li>
          <li>Min of 1 year of experience.</li>
          <li>Appetite for learning and staying up-to-date with latest technologies.</li>
        </ul>
        <span>Please reach us at <a href="mailto:careers@virtuelabs.io?Subject=Graphic-Designer-Profile">careers@virtuelabs.io</a></span>
      </div>
    </div>
  </div>
</div>