<div class="main-div">
  <div class="title-div">
    <h4>Current Job Openings</h4>
  </div>
  <div class="job-openings">
    <div class="job-card">
      <div class="title-date">
        <div class="title">
          <span>Graphic Designer</span>
        </div>
        <div class="date">
          <span>Posted August 20, 2019</span>
        </div>
      </div>
      <div class="loc-job-id">
        <span>
          IN, KA, Bangalore | Job ID: 1
        </span>
      </div>
      <div class="job-desc">
        <ul>
          <li>Prepares work to be accomplished by gathering information and materials.</li>
          <li>Plans concept by studying information and materials.</li>
          <li>Illustrates concept by designing rough layout of art and copy regarding arrangement, size, type size and style, and related aesthetic concepts.</li>
        </ul>  
      </div>
    </div>
  </div>
</div>