@import "../../assets/scss/custom-bootstrap-variables.scss";

.main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .title-div {
        margin-top: 2%;
        margin-left: 2%;
        width: 65%;
        height: 20%;
        @media screen and (max-width: $mobile-device) {
            height: 40%;
        }
    }
    .cart-columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 65%;
        margin-left: 2%;
        border-bottom: 1px solid #e1e4e8;
        .cart-col-price {
            margin-left: 63%;
        }
        .cart-col-quan {
            margin-left: 21%;
            @media screen and (max-width: $mobile-device) {
                margin-left: 15%;
               }
        }
        @media screen and (max-width: $mobile-device) {
            width: 90%;
        }
    }
    .cart-items-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        .cart-items {
            margin-right: 5%;
            margin-left: 5%;
            .cart-items-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 2%;
                border-bottom: 1px solid #e1e4e8;
                .item-thumbnail {
                    width: 20%;
                    .rapido-icon {
                        width: 40%;
                    }
                }
                .item-desc {
                    width: 40%;
                }
                .item-price {
                    padding-left: 2%;
                    width: 30%;
                    color: red;
                }
                .item-quantity {
                    width: 10%;
                    .item-quntity-input {
                        width: 60%;
                    }
                }
            }
        }
        @media screen and (max-width: $mobile-device) {
            width: 100%;
        }
    }
    .cart-amount {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 28%;
        height: 400px;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 6px;
        border-width: 1px;
        box-sizing: border-box;
        border-color: #C7C7C7;
        box-shadow: 0 2px 1px 0 rgba(0,0,0,.16);
        border-style: solid;
        @media screen and (max-width: $mobile-device) {
            height: 200px;
            width: 100%;
        }
    }
    @media screen and (max-width: $mobile-device) {
        width: 100%;
        margin-top: 5%;
    }
}