<div class="main-div">
  <div class="cart-div">
    <div class="title-div">
      <h4>
        Shopping Cart
      </h4>
    </div>
    <div class="cart-columns">
      <div class="cart-col-price">
        <span>Price</span>
      </div>
      <div class="cart-col-quan">
        <span>Quantity</span>
      </div>
      </div>
        <div class="cart-items-main">
          <div class="cart-items">
            <div class="cart-items-list" *ngFor="let item of cartItems">
              <div class="item-thumbnail">
                <a>
                  <svg aria-hidden="true" aria-haspopup="menu" class="rapido-icon">
                    <use [attr.xlink:href]="item.icon"/>
                  </svg>
                </a>
              </div>
              <div class="item-desc">
                <p><strong>{{ item.title }}</strong></p>
                <div>
                    <a routerLink="">Delete</a>
                </div>
              </div>
              <div class="item-price">
                <p>{{ item.amount }}</p>
              </div>
              <div class="item-quantity">
                <input type="text" maxlength="3" value="{{ item.qunatity }}" autocomplete="off" name="quantityBox" class="item-quntity-input" aria-label="Quantity">
              </div>
            </div>
          </div>    
        </div>
  </div>
  <div class="cart-amount">
    <div class="card-amount-inner">
      <div class="card-amount-title">
        <span>
          <strong>Subtotal (4 items):</strong>26,104.00
        </span>
      </div>
        <div class="card-amount-checkout">
            <button mat-button class="checkout-button">Proceed to checkout</button>
        </div>
    </div>
</div>
</div>