@import "../../../assets/scss/custom-bootstrap-variables.scss";

.main-div {
  .title-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-left: 2%;
    svg {
      height: 30px;
      width: 30px;
      margin-right: 1%;
    }
    @media screen and (max-width: $mobile-device) {
      margin-top: 5%;
    }
  }
  .rapido-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    padding: 2%;
    .rapido-profile-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0% 2%;
      background-color: $primary;
      margin: 1%;
      border-radius: 4px;
      width: 31.25%;
      justify-items: center;
      min-width: 300px;
      min-height: 125px;
      cursor: pointer;
      .icon-div {
        .rapido-icon {
          svg {
            margin: 30px 0px;
            width: 70px;
            height: 70px;
          }
        }
      }
      .content-div {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 8%;
        margin-bottom: 6%;
        display: flex;
        flex-direction: column;
        justify-items: left;
        color: black;
      }
      @media screen and (max-width: $mobile-device) {
        min-width: 100%;
      }
    }
  }
}
.questionnaire {
  .title-div {
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    svg {
      height: 30px;
      width: 50px;
    }
    @media screen and (max-width: $mobile-device) {
      margin-top: 5%;
    }
  }
  .questions {
    padding-left: 5%;
    padding-right: 5%;
  }
}