<div class="app-info">
  <div class="cookie-text">
    This website is just for testing purpose. For purchasees, please use rapidobuild.com
  </div>
</div>
<div id='nav-top'>
  <app-nav></app-nav>
  <app-icons></app-icons>
  <div class="rapido-body">
      <router-outlet (activate)="onActivate()"></router-outlet>
  </div>

  <app-busy-loader></app-busy-loader>
  <app-footer></app-footer>
</div>

<div class="app-info">
  <div class="cookie-text">
    This website is just for testing purpose. For purchasees, please use rapidobuild.com
  </div>
</div>

<div class="cookie" *ngIf="!isConsentGranted">
  <div class="cookie-text">
    This website uses cookies to ensure you get the best experience on our website
  </div>
  <div class="cookie-action">
    <button mat-flat-button color="primary" (click)="handleCookieAcceptance()">
      <span role="status" aria-hidden="true"></span>
      GOT IT
    </button>
  </div>
</div>