<!--<div id='nav-top'>
  <app-topnav
    *ngIf="showNavBar">
  </app-topnav>

  <app-icons></app-icons>
  <div class="rapido-body">
      <router-outlet (activate)="onActivate()"></router-outlet>
  </div>

  <app-busy-loader></app-busy-loader>
  <app-footer></app-footer>
</div>-->




<div id='nav-top'>
  <app-nav></app-nav>
  <app-icons></app-icons>
  <div class="rapido-body">
      <router-outlet (activate)="onActivate()"></router-outlet>
  </div>

  <app-busy-loader></app-busy-loader>
  <app-footer></app-footer>
</div>



