@import "../../assets/scss/custom-bootstrap-variables.scss";

div {
    div{
        .filterBtnS{
            display: none;
        }
        @media screen and (max-width: $small-device) {
            .filterBtnS{
                display: block;
                padding-top: 20px;
            }
           }
       
    }

}
  

