
<div class="">
    <h3 class="h3">Products </h3>

  <div class="row">
      <div class="col-md-3">
          <div *ngFor="let a of ['departments','ratings', 'filters']" class="">
              <div class="product-grid">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://cdn.aws.toolstation.com/images/141020-UK/250/88614.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title {{a}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
              </div>
          </div>
        </div>

        <div class="col-md-9 row"  >
            <div *ngFor="let a of [1,2,3]" class="col-md-12 row">
                <div *ngFor="let a of [1,2,3]" class="col-md-4">
                    <app-card></app-card>
                </div>
            </div>
          </div>

  </div>

    <!-- <div class="col-md-sm-4 col-md-md-3">
    </div>
    <div *ngFor="let item of [1,2,3]" class="row m-5 col-md-md-9">
      
      <div class="">
        <div class="col-md-sm-8 col-md-md-12 row">
          <div *ngFor="let a of [1,2,3]" class="col-md-md-4 col-md-sm-6">
              <div class="product-grid">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="https://cdn.aws.toolstation.com/images/141020-UK/250/88614.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Card title {{a}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
              </div>
          </div>
          

          
        
        
      </div>
      </div>
    </div> -->
</div>