
<div class="">
  <div>
    <app-filterbar></app-filterbar>
    <div class="filterBtnS">
        <!-- <span class="h4">822</span> -->
        <button>Filters></button>
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
    </div>
  </div>
    

  <div class="row">
      <div class="col-md-2">
          <app-filter-by></app-filter-by>
        </div>
        

        
        
        <!-- Cards List section starts -->
        <div class="row justify-content-center col-md-10">
            <!-- <div *ngFor="let a of [1,2,3,4]" class=""> -->
                <div *ngFor="let a of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]" class="">
                    <app-card></app-card>
                </div>
            <!-- </div> -->
            <!-- <app-card imgSrc="https://cdn.aws.toolstation.com/images/141020-UK/160/17428.jpg"></app-card> -->
          </div>
          <!-- Cards list section ends -->

  </div>

</div>