<div class="main-div">
  <div class="search-text-div">
    <h3>
      Company Details
    </h3>
    <p>
      Rapidobuild helps you to build without a real headache of the building materials..
      Sothe saying goes on "you build and we deliver" 
      We know how you value time and to help you save time is our sole motto..!
    </p>
    <div class="spinner-div">
      <mat-spinner strokeWidth="4" [diameter]="50" *ngIf="showSpinner"></mat-spinner>
    </div>
    <!--<div class="search-postcode-div">
      <input matInput maxlength="10" placeholder="postcode">
      <button mat-flat-button color="primary" type="submit">Find Address</button>
    </div>-->
  </div>
  <div class="add-address-main">
    <form class="form-details" [formGroup]="addressFormGroup" novalidate>
      <mat-form-field>
        <input matInput placeholder="Organisation Name" formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 1" formControlName="add1">
        <mat-error *ngIf="hasError('add1', 'required')">Address 1 is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address Line 2" formControlName="add2">
        <mat-error *ngIf="hasError('add2', 'required')">Address 2 is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Town / City" formControlName="town_city">
        <mat-error *ngIf="hasError('town_city', 'required')">Town/City is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="County"  formControlName="county">
        <mat-error *ngIf="hasError('county', 'required')">County is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Postcode" formControlName="postCode">
        <mat-error *ngIf="hasError('postCode', 'required')">Postcode is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country" formControlName="country">
        <mat-error *ngIf="hasError('country', 'required')">Country is required</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button class="spacing" mat-flat-button color="primary" type="submit" [disabled]="!addressFormGroup.valid" (click)="putCompanyDetails()">
            Add Company
        </button>
        <button mat-flat-button color="primary" (click)="cancelAddAddress()">
          Cancel
      </button>
      </mat-card-actions>
    </form>
  </div>
</div>
