<nav class="navbar fixed-top navbar-dark bg-primary">
  <a class="navbar-brand rapido-banner">
    {{bannerName}}
    <a class="com">
      .com
    </a>
  </a>
  <input placeholder="Search for Products here" class="search fa fa-home"/>
  <app-button [label]="logInLabel" (onClick)="handleLogIn($event)" [btnIcon]="add_circle"></app-button>
  <!-- <app-button [label]="cartLabel" (onClick)="handleCart($event)"></app-button> -->
  <a class="cart" href="#">
      <svg>
        <use xlink:href="#shopping-cart" />
      </svg>
  </a>
</nav>