
<app-navbar class="mat-elevation-z6" _nghost-c1="">
  <nav _ngcontent-c1 class="docs-navbar-header top-nav-pad-mar col-lg-12">
    <div class="col-lg-3 col-sm-12"><a class="navbar-brand rapido-banner">
          {{bannerName}}<a class="com">.com</a>
      </a>
    </div>
    <!-- <div _ngcontent-c1 class="flex-spacer"></div> -->
    
    <div class="col-lg-5">
      <div class="col-lg-12">
          <input type="text" value="" class="searchInput" title="Search for products, brands and more" autocomplete="off" placeholder="Search for products, brands and more"/>
      </div>
    </div>

    <div class="col-lg-1 m-lg-n5">
        <button class="" type="submit">
            <svg width="20" height="20" viewBox="0 0 17 18" class="" xmlns="http://www.w3.org/2000/svg"><g fill="#2874F1" fill-rule="evenodd"><path class="_2BhAHa" d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203"></path><path class="_2BhAHa" d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467"></path></g></svg>
        </button>
      </div>
    <div class="col-lg-3">
      <app-button [label]="logInLabel" routerLink="/sign-in" [btnIcon]="add_circle"></app-button>
      <a _ngcontent-c1 class="cart docs-button docs-navbar-hide-small mat-button" routerLink="">
          <svg>
            <use xlink:href="#shopping-cart" />
          </svg>
      </a>
      <a class="cart docs-button docs-navbar-hide-small mat-button" routerLink="" [matMenuTriggerFor]="menu">
          <svg aria-hidden="true" aria-haspopup="menu"> 
            <use xlink:href="#man-user" />
          </svg>
      </a>
      <mat-menu #menu="matMenu">
        <div>
          <a class="dropdown-item" href="/">Signed In As
            <strong>AnirupPat</strong>
          </a> 
        </div>
        <div role="none" class="dropdown-divider"></div>
        <a class="dropdown-item " href="/">Edit Profile</a>
        <a class="dropdown-item " href="/log-out">Log Out</a>
      </mat-menu>
    </div>
  </nav>
  <div role="none" class="dropdown-divider2"></div>
  <nav _ngcontent-c1 class="docs-navbar docs-navbar-show-small">
      <a _ngcontent-c1 class="docs-navbar-link mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/components">
        <span class="mat-button-wrapper">Electricals</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a _ngcontent-c1 class="docs-navbar-link mat-button ng-star-inserted" mat-button="" tabindex="0" aria-disabled="false" href="/cdk">
        <span class="mat-button-wrapper">Plumbing</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a _ngcontent-c1 class="docs-navbar-link mat-button" mat-button="" routerlink="guides" tabindex="0" aria-disabled="false" href="/guides">
        <span class="mat-button-wrapper">Power Tools</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a _ngcontent-c1 class="docs-navbar-link mat-button" mat-button="" routerlink="guides" tabindex="0" aria-disabled="false" href="/guides">
        <span class="mat-button-wrapper">Security</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
      <a _ngcontent-c1 class="docs-navbar-link mat-button" mat-button="" routerlink="guides" tabindex="0" aria-disabled="false" href="/guides">
        <span class="mat-button-wrapper">Screws</span>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>




  </nav>
</app-navbar>















