<div class="">
    <div class="filtersL">
        <div class="font-weight-bolder">
            Department
        </div>
       <div>
            <ul class="list-group">
                    <li *ngFor="let list of ['Automotive','Bathroom','Lighting','etc']" class="list-group-item">
                        <a data-routing="off" class="a-link-normal s-navigation-item" href="/s?k=mac+books+pro&amp;rh=n%3A976392031&amp;dc&amp;crid=6TY9UFLZ8E5B&amp;qid=1554819782&amp;rnid=3576079031&amp;sprefix=mac+books+%2Caps%2C474&amp;ref=sr_nr_n_1">
                            <span class="a-size-base a-color-base text-dark">{{list}}</span>
                        </a>
                    </li>
                  </ul>
       </div>
    </div>
 </div>   