<div class="card-flip"
(click)="routeTo.emit()">
  <div class="circle-container">
    <div class="outer-ring"></div>
      <!-- Used for more of a gyroscope type effect
      <div class="outer-outer-ring"></div>
      -->
    <div class="circle">
      <div class="front">
        <img class="back-logo" src="{{ flipImage }}" alt="The Elevation Group Logo" />
      </div>
      <div class="back">
        <img *ngIf="!flipBackImage" class="back-logo" src="//theelevationgroup.com/img/logo.svg" alt="The Elevation Group Logo" />
        <img *ngIf="flipBackImage" class="back-logo" src="{{ flipBackImage }}" alt="The Elevation Group Logo" />
      </div>
    </div>
  </div>
</div>