<!-- <div class="card-flip-holder"> -->
  <div class="card-flip" *ngFor="let data of [1]">
    <div class="circle-container">
      <div class="outer-ring"></div>
      <!-- Used for more of a gyroscope type effect
      <div class="outer-outer-ring"></div>
      -->
      <div class="circle">
        <div class="front">
          <p>START</p>
        </div>
        <div class="back">
          <img class="back-logo" src="//theelevationgroup.com/img/logo.svg" alt="The Elevation Group Logo" />
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->