@import "../../assets/scss/custom-bootstrap-variables.scss";
.example-container {
    display: flex;
    flex-direction: column;
    // width: 30%;
  }
.rapido-account-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    .rapido-account-details {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: $primary;
        float: left;
        margin-top: 10px;
        width: 50%;
        .text-div {
            display: flex;
            flex-direction: column;
            justify-items: left;
            padding-right: 70%;
            margin-top: 2%;
            margin-left: 1%;
            width: 50%;
        }
        .button-div {
            display: flex;
            flex-direction: column;
            justify-items: right;
            padding-top: 2%;
            button {
                background-color: black;
                color: $primary;
            }
        }
        @media screen and (max-width: $mobile-device) {
            width: 80%;
          }
    }
}