<div class="">
  <h1>
    Account Info
  </h1>
</div>
<div class="rapido-account-info">
  <div class="rapido-account-details">
    <div class="text-div">
      <h5> Name1: </h5>
      <p>Anirup</p>
    </div>
    <div class="button-div">
      <button mat-flat-button color="primary" type="submit">
        Edit
      </button>
    </div>
  </div>
  <div class="rapido-account-details">
      <div class="text-div">
        <h5> Name2: </h5>
        <p>Anirup</p>
      </div>
      <div class="button-div">
          <button mat-flat-button color="primary" type="submit">
              Edit
            </button>
      </div>
    </div>
    <div class="rapido-account-details">
        <div class="text-div">
          <h5> Name3: </h5>
          <p>Anirup</p>
        </div>
        <div class="button-div">
            <button mat-flat-button type="submit">
                Edit
              </button>
        </div>
      </div>
</div>