<div class="payment-div">
  <div class="order-address-div" *ngFor="let order of orderedItems">
    <div class="order-div">
      <div class="icon-title">
        <svg>
          <use xlink:href="#menu" />
        </svg>
        <div class="title-div">
          <h4>
            Order Summary
          </h4>
        </div>
      </div>
      <div class="thanks-div" *ngIf="newOrder">
        <p>Thank you for shopping with us !</p>
      </div>
      <div class="order-id-date">
          <p>Ordered On: {{ orders[order].date }}  <span> |  Order#: {{ order }}</span></p>
      </div>
      <div class="cart-columns">
          <div class="cart-col-quan">
              <span>Quantity</span>
            </div>
        <div class="cart-col-price">
          <span>Price(£)</span>
        </div>
      </div>
      <div class="order-items-main">
        <div class="order-items">
          <div class="order-items-list" *ngFor="let item of orders[order].items">
            <div class="order-item-status">
              <span class="status-label-success" *ngIf="orders[order].category != cancelledStatus">{{ orders[order].category }}</span>
              <span class="status-label-cancelled" *ngIf="orders[order].category == cancelledStatus">{{ orders[order].category }}</span>
            </div>
            <div class="item">
              <div class="item-thumbnail">
                <img class="image" src="{{ imageUrl + products[item.product_id].images[0] }}">
              </div>
              <div class="item-desc">
                <p><strong>{{ products[item.product_id].name }}</strong></p>
              </div>
              <div class="item-quantity">
                <span>{{ item.quantity }}</span>
              </div>
              <div class="item-price">
                <p>
                  <strong>{{ item.unit_price.toFixed(2) }}</strong>
                </p>
              </div>    
            </div>
          </div>
          <div class="order-charges">
            <span> Subtotal : {{ orders[order].currency }}<span> {{ orders[order].order_price }}</span></span>
          </div>
          <div class="order-charges">
            <span>+ VAT : {{ orders[order].currency }}<span> {{ orders[order].vat  }}</span></span>
          </div>
          <div class="order-charges">
            <span>+ Delivery Charges : {{ orders[order].currency }}<span> {{ orders[order].delivery_cost  }}</span></span>
          </div>
          <div class="order-total">
            <p>Order Total : {{ orders[order].currency }}<span> {{ orders[order].order_price_total }}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="address-company-details">
      <div class="order-address">
        <div class="add-title-div">
          <h5 class="title-div">Delivery Address</h5>
        </div>
          <div class="address-text">
              <strong> {{ orders[order]['address'].full_name }} </strong>
              <br/><p>{{ orders[order]['address'].addr_1 }}
              <br/> {{ orders[order]['address'].addr_2 }}
              <br/> {{ orders[order]['address'].city }} 
              <br/> {{ orders[order]['address'].county }}, {{ orders[order]['address'].postcode }}
              <br/> {{ orders[order]['address'].country }}
            </div>
      </div>
      <div class="order-address" *ngIf="showCompanyDetails">
        <div class="add-title-div">
          <h5 class="title-div">Company Details</h5>
        </div>
          <div class="address-text">
              <strong> {{ companyDetails.name }} </strong>
              <br/><p>{{ companyDetails.add1 }}
              <br/> {{ companyDetails.add2 }}
              <br/> {{ companyDetails.town_city }} 
              <br/> {{ companyDetails.county }}, {{ companyDetails.postCode }}
              <br/> {{ companyDetails.country }}
            </div>
      </div>
    </div>
  </div>
</div>