
<div class="auth-form px-3" id="login">
  <form action="/session" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="UEUFIJXpTlh1VTFw2wd2lguzd1mFs8FB409abzeOO5CKrLhvzYr/w7IsIl8t8F5LM304td4mIJIP6020/O8ClQ==">      
    <div class="auth-form-header p-0 font">
    <h1>Sign in to Rapidobuild.com</h1>
  </div>
    <div *ngIf="alertBox" class="alert alert-danger alert-dismissible width-3" role="alert">
        <button class="close" type="button" (click)="closeAlert($event)" data-dismiss="alert">×</button>
        <strong>{{alertMsg}}</strong> <div id="Div2" runat="server"></div>
      </div>
  <div class="auth-form-body mt-3">
    <label for="login_field">
      Mobile Number
    </label>
    <input type="text" name="login" [(ngModel)]="_mobileNumber"  id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus">
    <label for="password">
      Password <a class="label-link" href="/forgot-password">Forgot password?</a>
    </label>
    <input type="password" [(ngModel)]="_password" name="password" id="password" class="form-control form-control input-block" tabindex="2">
    <input type="hidden" class="js-webauthn-support" name="webauthn-support" value="supported">
    <button type="submit" (click)="signIn($event)" name="commit" value="Sign in" tabindex="3" class="btn btn-primary btn-block" data-disable-with="Signing in…">
      <span *ngIf="_progressSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Submit
      </button> 
  </div>
  </form>
  <!-- <div class="a-divider a-divider-break"><h5>New to Amazon?</h5>::after</div> -->
  <p class="create-account-callout mt-3">
    New to Rapidobuild?
    <a data-hydro-click="{&quot;event_type&quot;:&quot;authentication.click&quot;,&quot;payload&quot;:{&quot;location_in_page&quot;:&quot;sign in switch to sign up&quot;,&quot;repository_id&quot;:null,&quot;auth_type&quot;:&quot;SIGN_UP&quot;,&quot;client_id&quot;:&quot;1775663780.1551785857&quot;,&quot;originating_request_id&quot;:&quot;C480:19B5:5150A5:976D1A:5C92070A&quot;,&quot;originating_url&quot;:&quot;https://github.com/login?return_to=%2Fjoin%3Fsource%3Dheader-home&quot;,&quot;user_id&quot;:null}}" data-hydro-click-hmac="aa694e9c60f64170397728bf4e5f0af37edd4a4d7a45daed1a670670eb0eba47" data-ga-click="Sign in, switch to sign up" href="/join?return_to=%2Fjoin%3Fsource%3Dheader-home&amp;source=login" routerLink="/register">Create an account</a>.
  </p>
</div>
<div class="footer container-lg p-responsive py-6 mt-6 f6" role="contentinfo">
  <ul class="list-style-none d-flex flex-justify-center">
      <li class="mr-3"><a href="/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
      <li class="mr-3"><a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
      <!-- <li class="mr-3"><a href="//" data-ga-click="Footer, go to security, text:security">Security</a></li>
      <li><a class="link-gray" data-ga-click="Footer, go to contact, text:contact" href="//">Contact Rapidobuild</a></li> -->
  </ul>
</div>