<div class="auth-form px-3" id="login">
  <form action="/session" accept-charset="UTF-8" method="post">
    <div class="auth-form-header p-0 font">
    <h1>{{headerText}}</h1>
    </div>
    <div *ngIf="alertBox" class="alert alert-danger alert-dismissible width-3" role="alert">
        <button class="close" type="button" (click)="closeAlert()" data-dismiss="alert">×</button>
        <strong>{{alertMsg}}</strong> <div id="Div2" runat="server"></div>
    </div>
    <div class="auth-form-body mt-3">
      <label for="login_field">
        Mobile Number
      </label>
      <div class="two-input">
        <input style="width:20%" type="text" name="countryCode" [(ngModel)]="countryCode" disabled id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="">
        <input style="width:80%" type="text" name="login" [(ngModel)]="mobileNumber"  id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus">
      </div>
      <label for="password">
        Password <a class="label-link" href="/forgot-password">Forgot password?</a>
      </label>
      <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control form-control input-block" tabindex="2">
      <button type="submit" (click)="signIn()" name="commit" value="Sign in" tabindex="3" class="btn btn-primary btn-block" data-disable-with="Signing in…">
        <span *ngIf="progressSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Submit
      </button> 
    </div>
  </form>
  <p class="create-account-callout mt-3">
    New to Rapidobuild?
    <a data-hydro-click="{&quot;event_type&quot;:&quot;authentication.click&quot;,&quot;payload&quot;:{&quot;location_in_page&quot;:&quot;sign in switch to sign up&quot;,&quot;repository_id&quot;:null,&quot;auth_type&quot;:&quot;SIGN_UP&quot;,&quot;client_id&quot;:&quot;1775663780.1551785857&quot;,&quot;originating_request_id&quot;:&quot;C480:19B5:5150A5:976D1A:5C92070A&quot;,&quot;originating_url&quot;:&quot;https://github.com/login?return_to=%2Fjoin%3Fsource%3Dheader-home&quot;,&quot;user_id&quot;:null}}" data-hydro-click-hmac="aa694e9c60f64170397728bf4e5f0af37edd4a4d7a45daed1a670670eb0eba47" data-ga-click="Sign in, switch to sign up" href="/join?return_to=%2Fjoin%3Fsource%3Dheader-home&amp;source=login" routerLink="/register">Create an account</a>.
  </p>
</div>
<div class="footer container-lg p-responsive f6" role="contentinfo">
  <ul class="list-style-none d-flex py-6 flex-justify-center">
      <li class="mr-3"><a href="/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
      <li class="mr-3"><a href="/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
  </ul>
</div>
