.mt-3 {
    margin-top: 40px!important;
}
.p-0 {
    padding: 40px!important;
}
* {
    box-sizing: border-box;
}
.auth-form {
    margin: 0 auto;
    width: 340px;
}
.px-3 {
    padding-right: 16px!important;
}
.font {
    font-size: xx-large
}
.session-authentication {
    .auth-form-header {
        background-color: transparent;
        border: 0;
        color: #333;
        margin-bottom: 15px;
        text-align: center;
        text-shadow: none;
    }
}
.auth-form-header {
    // background-color: #829aa8;
    // border: 1px solid #768995;
    // border-radius: 3px 3px 0 0;
    // color: #fff;
    margin: 0;
    // padding: 10px 20px;
    // text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.auth-form-body {
    background-color: #fff;
    border: 1px solid #d8dee2;
    font-size: 14px;
    padding: 20px;
    width: 300px;
}
.auth-form-body {
    .input-block {
        margin-bottom: 15px;
        margin-top: 5px;
    }
}
.input-block {
    display: block;
    width: 100%;
}
.form-control, .form-select {
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    line-height: 20px;
    min-height: 34px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
}
.session-authentication {
    .auth-form {
        .btn {
            margin-top: 20px;
        }
    }
}
.btn-block {
    display: block;
    text-align: center;
    width: 100%;
}
.btn {
    -moz-appearance: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.session-authentication {
    .create-account-callout {
        border: 1px solid #d8dee2;
        border-radius: 5px;
        padding: 15px 20px;
        text-align: center;
    }
}
.create-account-callout {
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    margin-right: 7px;
}
.mt-3 {
    margin-top: 16px!important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.f6 {
    font-size: 12px!important;
}
p-responsive {
    padding-left: 16px!important;
    padding-right: 16px!important;
}
.py-6 {
    padding-bottom: 40px!important;
    padding-top: 40px!important;
}
.mt-6 {
    margin-top: 40px!important;
}
.container-lg, .container-xl {
    margin-left: auto;
    margin-right: auto;
}

.container-lg {
    max-width: 1012px;
}
.d-flex {
    display: flex!important;
}

.list-style-none {
    list-style: none!important;
}
.flex-justify-center {
    justify-content: center!important;
}
ol, ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
mr-3 {
    margin-right: 16px!important;
}