<mat-vertical-stepper [linear]="true" #stepper class="nav-bar-spacing">
  <mat-step [stepControl]="registerFormGroup">
      <ng-template matStepLabel><h4>User Details</h4></ng-template>
      <form [formGroup]="registerFormGroup" class="example-container" novalidate>
        <!-- <mat-card-content> -->
            <mat-form-field class="col-lg-4" >
                <span matPrefix>{{countryCode}} &nbsp;</span>
                <input matInput maxlength="10" placeholder="Mobile Number" formControlName="mobileNumber" [(ngModel)]="mobileNumber.value">
                <mat-hint align="end">Only Numbers</mat-hint>
                <mat-error *ngIf="hasError('mobileNumber', 'required')">Mobile Number is required</mat-error>
                <mat-error *ngIf="hasError('mobileNumber', 'pattern') || hasError('mobileNumber', 'min')">Invalid Mobile Number</mat-error>
            </mat-form-field>        
        <!-- </mat-card-content> -->
          <mat-card-actions>
            <button mat-flat-button matStepperNext (click)="forgotPassword()" color="primary" type="submit" [disabled]="!registerFormGroup.valid">Submit</button>
            <h5 *ngIf="_forgottenPassword">Password Changed</h5>
          </mat-card-actions>
          <div *ngIf='error' class="alert alert-danger col-lg-4" role="alert">
            <h4 class="alert-heading">Error!</h4>
            <p>{{errorResponse}}</p>
          </div>
          <div *ngIf='success' class="alert alert-success col-lg-4" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>{{successResponse}}</p>
          </div>
      </form>
  </mat-step>
</mat-vertical-stepper>