@import "../../../../assets/scss/custom-bootstrap-variables.scss";

.image-carousel {
    margin-top: -16px;
    height: 250px;
    .image-div {
        height: 600px;
        .image2 {
            height: 500px;
        }
    }
    @media screen and (max-width: $mobile-device) {
        display: none !important;
    }
    @media screen and (max-width: $small-device) {
        display: none !important;
    }
}

:host ::ng-deep .carousel-indicators {
    display: none;
}
:host ::ng-deep .carousel-control-prev, :host ::ng-deep .carousel-control-next {
    margin-bottom: 6%;
    width: 2% !important;
    margin-top: 6%;
    background-color: $carousel-arrow-background;
    @media screen and (max-width: $medium-device) {
        width: 4% !important;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    @media screen and (max-width: $mobile-device) {
        width: 8% !important;
        margin-top: 25%;
        margin-bottom: 25%;
    }
}