<ng5-slider [(value)]="rangeData.minValue" 
            [(highValue)]="rangeData.maxValue" 
            [options]="options"
            (userChangeEnd)="userChangeEnd($event)"
            ></ng5-slider>

    <form class="ml-4" (ngSubmit)="onSubmitPriceFilter()">
        <div>
            <label class="">
            <span class=""> £</span>
            <input class="" type="number" [value]="selectedMinVal">
        </label>
            <span class="mr-2">  to  </span>
        <label class="">
            <span class=""> £</span>
            <input class="" type="number" [value]="selectedMaxVal">
        </label>
        
        <button class="btn font-weight-bold btn-primary rounded-pill" type="submit">Go</button>
        </div>
        
    </form>
