
form {
    div{
        label{
            input{
            width: 60px;
            margin-left: 4px;
            padding-right: 0;
            margin-right: 0.5rem !important;
        }
        }
    button{
        font-size: 0.65rem;
    }
    }
}