<ng5-slider [(value)]="rangeData.minValue" 
            [(highValue)]="rangeData.maxValue" 
            [options]="options"
            (userChangeEnd)="userChangeEnd($event)"
            ></ng5-slider>

    <form class="ais-price-ranges--form" (ngSubmit)="onSubmitPriceFilter()">
        <label class="ais-price-ranges--label">
            <span class="ais-price-ranges--currency">£ </span>
            <input class="ais-price-ranges--input" type="number" [value]="selectedMinVal">
        </label>
            <span class="ais-price-ranges--separator"> to </span>
        <label class="ais-price-ranges--label">
            <span class="ais-price-ranges--currency">£ </span>
            <input class="ais-price-ranges--input" type="number" [value]="selectedMaxVal">
        </label>
        
        <button class="ais-price-ranges--button btn btn-primary" type="submit">Go</button>
    </form>
