@import '~@angular/material/theming';

@include mat-core();

$rapido-web-primary: mat-palette($mat-indigo);
$rapido-web-accent: mat-palette($mat-pink, A200, A100, A400);

$rapido-web-warn: mat-palette($mat-red);

$rapido-web-theme: mat-light-theme($rapido-web-primary, $rapido-web-accent, $rapido-web-warn);

@include angular-material-theme($rapido-web-theme);

@import "./assets/scss/custom-bootstrap-variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
