
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rapido-web-primary: mat-palette($mat-indigo);
$rapido-web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rapido-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$rapido-web-theme: mat-light-theme($rapido-web-primary, $rapido-web-accent, $rapido-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rapido-web-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/custom-bootstrap-variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.alert-danger-background {
    background-color: #262626 !important;
}

.alert-danger-text {
    color: #fba0a0 !important;
}

.alert-success-text {
    color: #b3ead2 !important;
}

.alert-warning-text {
    color: #fdeda6 !important;
}

.mat-checkbox-layout { white-space: normal !important; }
.text-align {
    text-align: center;
}

.mat-horizontal-stepper-header{
    pointer-events: none !important;
}