<div class="home-div">
  <div class="card-holder">
     <app-home-card [cardDetails]=card class="app-home-card" *ngFor="let card of cardDetails"></app-home-card>
         
  </div>

  <div class="carousel-holder">
    <div class="carousel-title">
      Recommended Products
    </div>
    <app-carousel [carousel]=carousel></app-carousel>
  </div>

  <div class="carousel-card-mobile">
    <div class="card-holder2">
      <div class="carousel-title">
        Recommended Products
      </div>
      <div class="card2" *ngFor="let card of carousel[0]">
        <div class="card-content">
          <img class="card-image" src="{{ card.image }}">
          <div class="card-price">
            {{ card.price }}
          </div>
        </div>
      </div>
    </div>
  </div>
 

  




</div>
