@import "../../assets/scss/custom-bootstrap-variables.scss";

.home-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .card-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
        width: 100%;
        .app-home-card {
            width: 22%;
            margin-right: 1.5%;
            margin-left: 1.5%;
            margin-bottom: 2%;
            @media screen and (max-width: $mobile-device) {
                width: 100% !important;
            }
            @media screen and (max-width: $medium-device) {
                width: 42%;
            }
        }
        @media screen and (max-width: $mobile-device) {
            width: 100%;
        }
    }
    .carousel-holder {
        .rapido-desktop-component {
            display: block;
            @media screen and (max-width: $mobile-device) {
                display: none !important;
            }
            @media screen and (max-width: $medium-device) {
                display: none !important;
            }
        }
        .rapido-tablet-component {
            display: none;
            @media screen and (max-width: $medium-device) {
                display: block !important;
            }
            @media screen and (max-width: $small-device) {
                display: none !important;
            }
        }
        .rapido-mobile-component {
            display: none;
            @media screen and (max-width: $medium-device) {
                display: none !important;
            }
            @media screen and (max-width: $small-device) {
                display: block !important;
            }
        }
    }

    .carousel-card-mobile {
        display: none;
        .card-holder2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .carousel-title {
                padding-left: 2%;
                font-size: 24px;
                @media screen and (max-width: $mobile-device) {
                    padding-left: 0%;
                }
            }
            .card2 {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: 260px;
                width: 20%;
                background-color: white;
                padding: 1%;
                padding-bottom: 1%;
                .card-content {
                    height: 100%;
                    .card-image {
                    //    background-image:    url('/assets/images/home_card_1.jpg');
                        background-size:     cover;                     
                        background-repeat:   no-repeat;
                        background-position: center center; 
                        height: 90%; //260px;
                        width: 100%;
                        @media screen and (max-width: $mobile-device) {
                            width: 90%;
                            padding-left: 10%;
                        }
                    }
                    .card-price {
                        padding-top: 1%;
                        color: red;
                        padding-left: 15%;
                        @media screen and (max-width: $mobile-device) {
                            padding-left: 25%;
                        }
                    }
                }
                @media screen and (max-width: $mobile-device) {
                    width: 100%;
                }
            }
    
           
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }
        @media screen and (max-width: $mobile-device) {
            display: block;
        }
    }

    .container {
        display: flex;    
        overflow-x: auto;
        height: 260px;
        margin-left: 1%;
        margin-right: 1%;
        min-width: 98%;
        width: 90%;
        .card2 {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 260px;
            width: 20%;
            background-color: white;
            padding: 1%;
            padding-bottom: 1%;
            .card-content {
                height: 100%;
                .card-image {
                //    background-image:    url('/assets/images/home_card_1.jpg');
                    background-size:     cover;                     
                    background-repeat:   no-repeat;
                    background-position: center center; 
                    height: 90%; //260px;
                    width: 100%;
                    @media screen and (max-width: $mobile-device) {
                        width: 90%;
                        padding-left: 10%;
                    }
                }
                .card-price {
                    padding-top: 1%;
                    color: red;
                    padding-left: 15%;
                    @media screen and (max-width: $mobile-device) {
                        padding-left: 25%;
                    }
                }
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }
        img {
            min-width: 250px;
        }
    }

    @media screen and (max-width: $mobile-device) {
        width: 100%;
    }
}



