<div class="home-div">
  <div class="card-holder">
      <div class="card1">
          <div class="card-content">
              <div class="card-heading">
                  Fashion photography store
              </div>
              <div class="card-image">
              </div>
              <div class="card-desc">
                  Learn all about fashion photography here
              </div>
          </div>
        </div>
      
        <div class="card1">
            <div class="card-content">
                <div class="card-heading">
                    Fashion photography store
                </div>
                <div class="card-image">
                </div>
                <div class="card-desc">
                    Learn all about fashion photography here
                </div>
            </div>
          </div>
      
      
          <div class="card1">
              <div class="card-content">
                  <div class="card-heading">
                      Fashion photography store
                  </div>
                  <div class="card-image">
                  </div>
                  <div class="card-desc">
                      Learn all about fashion photography here
                  </div>
              </div>
            </div>

            <div class="card1">
                <div class="card-content">
                    <div class="card-heading">
                        Fashion photography store
                    </div>
                    <div class="card-image">
                    </div>
                    <div class="card-desc">
                        Learn all about fashion photography here
                    </div>
                </div>
              </div>
  </div>




  <ngb-carousel interval='0'>
    <ng-template ngbSlide class="carousel">
        <div class="card-holder2">
            <div class="card2">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
            </div>
            
            <div class="card2">
                  <div class="card-content">
                      <div class="card-image">
                      </div>
                  </div>
            </div>
            
            
            <div class="card2">
                    <div class="card-content">
                        <div class="card-image">
                        </div>
                    </div>
            </div>
      
            <div class="card2">
                      <div class="card-content">
                          <div class="card-image">
                          </div>
                      </div>
            </div>


  

        </div>
    </ng-template>



    <ng-template ngbSlide class="carousel">
        <div class="card-holder2">
            <div class="card3">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
            </div>
            
            <div class="card3">
                  <div class="card-content">
                      <div class="card-image">
                      </div>
                  </div>
            </div>
            
            
            <div class="card3">
                    <div class="card-content">
                        <div class="card-image">
                        </div>
                    </div>
            </div>
      
            <div class="card3">
                      <div class="card-content">
                          <div class="card-image">
                          </div>
                      </div>
            </div>

            <div class="card3">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
        </div>
  

        </div>
    </ng-template>


  </ngb-carousel>



  <div class="custom-carousel carousel slide">
    <div class="custom-card-holder">
        <a class="prev">
            Prev
        </a>
        <div class="card2">
            <div class="card-content">
                <div class="card-image">
                </div>
            </div>
        </div>
                
        <div class="card2">
            <div class="card-content">
                <div class="card-image">
                </div>
            </div>
        </div>
                
                
        <div class="card2">
            <div class="card-content">
                <div class="card-image">
                </div>
            </div>
        </div>
          
        <div class="card2">
            <div class="card-content">
                <div class="card-image">
                </div>
            </div>
        </div>

        <div class="card2">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
        </div>

        <div class="card2">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
        </div>

        <div class="card2">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
        </div>


        <div class="card2">
                <div class="card-content">
                    <div class="card-image">
                    </div>
                </div>
        </div>

        <a class="next">
                Next
        </a>
    </div>
  </div>
</div>
