@import "../../assets/scss/custom-bootstrap-variables.scss";

.home-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .card-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10%;
        margin-top: 5%;
        @media screen and (max-width: $mobile-device) {
            width: 100%;
        }
    }


    .carousel {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 1%;
        margin-right: 1%;
        .card-holder2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .card2 {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: 260px;
                width: 20%;
                background-color: black;
                .card-content {
                    .card-image {
                        background-image:    url('/assets/images/home_card_1.jpg');
                        background-size:     cover;                     
                        background-repeat:   no-repeat;
                        background-position: center center; 
                        height: 260px;
                    }
                    .card-desc {
                        font-weight: initial;
                        font-size: 14px;
                        color: white;
    
                    }
                }
                @media screen and (max-width: $mobile-device) {
                    width: 100%;
                }
            }

            .card3 {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: 260px;
                width: 20%;
                background-color: black;
                .card-content {
                    .card-image {
                        background-image:    url('/assets/images/aboutUs_1.jpg');
                        background-size:     cover;                     
                        background-repeat:   no-repeat;
                        background-position: center center; 
                        height: 260px;
                    }
                    .card-desc {
                        font-weight: initial;
                        font-size: 14px;
                        color: white;
    
                    }
                }
                @media screen and (max-width: $mobile-device) {
                    width: 100%;
                }
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }
    }


    
}


::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
    margin-bottom: 6%;
    width: 2% !important;
    margin-top: 6%;
    background-color: black;
}

::ng-deep .carousel-indicators {
    display: none;
}


