<div class="payment-div">
  <div class="order-address-div">
    <div class="order-div">
      <div class="title-div">
        <h4>
            Order Summary
        </h4>
      </div>
      <div class="cart-columns">
        <div class="cart-col-price">
          <span>Price(£)</span>
        </div>
        <div class="cart-col-quan">
          <span>Quantity</span>
        </div>
      </div>
      <div class="order-items-main">
          <div class="order-items">
              <div class="order-items-list" *ngFor="let item of orderedItems">
                <div class="item-thumbnail">
                  <img class="image" src="{{ item.pic }}">
                </div>
                <div class="item-desc">
                  <p><strong>{{ item.title }}</strong></p>
                </div>
                <div class="item-price">
                  <p>
                    <strong>{{ item.unitPrice }}</strong>
                  </p>
                </div>
                <div class="item-quantity">
                  <span>{{ item.quantity }}</span>
                </div>
              </div>
              <div class="order-total">
                <h5>Order Total: 24000</h5>
              </div>
            </div>
            
      </div>
    </div>
    
    <div class="order-address">
      <div class="add-title-div">
        <h5 class="title-div">Delivered To</h5>
      </div>
        <div class="address-text">
            <strong> {{ deliveredAddress.full_name }} </strong>
            <br/><p>{{ deliveredAddress.addr_1 }}
            <br/> {{ deliveredAddress.addr_2 }}
            <br/> {{ deliveredAddress.city }} 
            <br/> {{ deliveredAddress.county }}, {{ deliveredAddress.postcode }}
            <br/> {{ deliveredAddress.country }}
          </div>
    </div>
  </div>
</div>