<mat-vertical-stepper [linear]="true" #stepper class="nav-bar-spacing" [selectedIndex]="_stepperIndex">
    <mat-step [stepControl]="registerFormGroup">
        <ng-template matStepLabel><h4>Sign Up/ Register</h4></ng-template>
        <form [formGroup]="registerFormGroup" class="example-container" novalidate (ngSubmit)="registerUser(registerFormGroup.value)">
          <!-- <mat-card-content> -->
              <mat-form-field class="col-lg-4">
                  <span matPrefix>{{_mobilePrefix}} &nbsp;</span>
                  <input matInput maxlength="15" placeholder="Mobile Number" formControlName="mobileNumber" [(ngModel)]="_registration.phone_number">
                  <mat-hint align="end">Only Numbers</mat-hint>
                  <mat-error *ngIf="hasError('mobileNumber', 'required')">Name is required</mat-error>
                  <mat-error *ngIf="hasError('mobileNumber', 'pattern')">numbers</mat-error>
              </mat-form-field>
              <div class="mt-2"></div>
              <mat-form-field class="col-lg-4">
                  <input matInput type="text" placeholder="Name" formControlName="name" [(ngModel)]="_registration.name">
                  <mat-hint align="end">Not more than 20 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('name', 'required')">Address is required</mat-error>
                  <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 20 characters</mat-error>
              </mat-form-field>
              <div class="mt-2"></div>

              <mat-form-field class="col-lg-4">
                    <input matInput placeholder="Enter your email" formControlName="email" [(ngModel)]="_registration.email">
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Incorrect Email ID</mat-error>
              </mat-form-field>
              <div class="mt-2"></div>

              <mat-form-field class="col-lg-4">
                      <input matInput placeholder="Enter your password" [type]="hidePwd ? 'password' : 'text'" formControlName="password" [(ngModel)]="_registration.password">
                      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                      <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div class="mt-2"></div>

              <mat-form-field class="col-lg-4">
                        <input matInput placeholder="Confirm Password" [type]="hideConfirmPwd ? 'password' : 'text'" formControlName="confirmPassword" [(ngModel)]="_registration.confirmPassword">
                        <mat-error *ngIf="hasError('confirmPassword', 'required')">Password is required</mat-error>
                        <mat-icon matSuffix (click)="hideConfirmPwd = !hideConfirmPwd">{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div class="mt-2"></div>

              <mat-checkbox required class="example-margin" formControlName="termsAndConditions" [(ngModel)]="_registration.acceptedTAndC">I agree to the Terms and Conditions</mat-checkbox>
              <mat-checkbox class="example-margin" formControlName="communications" [(ngModel)]="_registration._sendMePromotions">Use my data for Promotions, Personalisations and Communications</mat-checkbox>
          <!-- </mat-card-content> -->
            <mat-card-actions class="button-spacing">
              <button mat-flat-button color="primary" type="submit" [disabled]="!registerFormGroup.valid">
                  <span *ngIf="_progressSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Submit
              </button>
            </mat-card-actions>
           
            <div *ngIf='_regFailed' class="alert alert-danger col-lg-4" role="alert">
              <h4 class="alert-heading">Error!</h4>
              <p>{{ _regFailed}}</p>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="codeConfirmationFormGroup">
        <div *ngIf='otpSuccess' class="alert alert-success col-lg-4" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>An OTP has been sent to the registered mobile number</p>
          </div>
      <ng-template matStepLabel><h4>Mobile Number Verification</h4></ng-template>
      <form class="example-container" [formGroup]="codeConfirmationFormGroup">
        <mat-form-field class="col-lg-4" >
          <input matInput placeholder="Mobile Number" formControlName="mobileNumber" [(ngModel)]="_registration.phone_number">
          <mat-error *ngIf="mobileNumber.invalid">Error in Validation</mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-4" >
          <input matInput placeholder="Confirmation code" formControlName="confirmationCode" [(ngModel)]="_confirmationCode">
          <mat-error *ngIf="confirmationCode.invalid">Error in Validation</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-flat-button color="primary" (click)="resendConfirmationCode()">
              <span *ngIf="_progressSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Resend Code
          </button>
          <button mat-flat-button color="primary" type="submit" (click)="confirmRegistration()" [disabled]="!codeConfirmationFormGroup.valid">
            <span *ngIf="_progressSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Submit
          </button>
          <div *ngIf='wrongCode' class="alert alert-danger col-lg-4" role="alert">
            <h4 class="alert-heading">Error!</h4>
            <p>{{wrongCodeMsg}}</p>
          </div>
          <div *ngIf='_resentConfirmationCodeResponse' class="alert alert-success col-lg-4" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>An OTP has been re-sent to the registered mobile number</p>
          </div>
      </mat-card-actions> 
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><h4>Done</h4></ng-template>
      <div *ngIf="_confirmRegistrationResponse" class="alert alert-success col-lg-4" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Successfully confirmed registration!</p>
      </div>
      <div>
        <svg class="imageWidth">
          <use xlink:href="#check-mark"/>
        </svg>
      </div>
      <button mat-flat-button routerLink="/sign-in"  color="primary" type="submit">Navigate to Sign In Page</button>
    </mat-step>
</mat-vertical-stepper>
