@import "../../../assets/scss/custom-bootstrap-variables.scss";

.main-div {
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 800px;
    .account-info {
        height: 500px;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 20px;
        .title-div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin-top: 3%;
            border-bottom: 1px solid #e1e4e8;
            svg {
                height: 30px;
                width: 30px;
                margin-right: 1%;
                margin-top: 0.4%;
              }
        }
        .rapido-account-info-div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: 2%;
            .check-box-margin {
                margin-left: 1%;
            }
            mat-action-row {
                margin-left: 1%;
                margin-bottom: 1%;
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }
        @media screen and (max-width: $mobile-device) {
            width: 100%;
            padding-left: 2%;
            padding-right: 2%;
        }
    }
    .delete-user {
        height: 200px;
        padding-left: 20%;
        padding-right: 20%;
        .col-wrap {
            display: flex;
            flex-direction: column !important;
            flex-wrap: wrap !important;
            margin-top: 2%;
            .title-div {
                border-bottom: 1px solid #e1e4e8;
            }
            .delete-div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: left;
                .text-spacing {
                    padding-top: 10px;
                    padding-left: 1%;
                }
                .button {
                    padding-top: 10px;
                    margin-left: 15%;
                    @media screen and (max-width: $mobile-device) {
                        margin-left: 0%;
                    }
                }
                @media screen and (max-width: $mobile-device) {
                    flex-wrap: wrap;
                }
            }
            .msg {
                width: 50%;
                @media screen and (max-width: $mobile-device) {
                    width: 100%;
                }    
        
            }
            @media screen and (max-width: $mobile-device) {
                width: 100%;
            }
        }
        @media screen and (max-width: $mobile-device) {
            width: 100%;
            padding-left: 2%;
            padding-right: 2%;
        }
    }
    @media screen and (max-width: $mobile-device) {
       margin-left: 2%;
       margin-right: 2%;
    }
}
