<div class="main">
  <div class="nav-line"></div>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto" *ngFor="let cat of categories.dataKey.details">
        <h5 class="font-weight-bold mt-3 mb-4">{{cat.header}}</h5>
         <ul class="list-unstyled spacing-bottom" *ngFor="let data of cat.data">
          <li>
            <a routerLink="/aboutus" class="about-us">{{data.title}}</a>
          </li>
          
        </ul> 
      </div>
      <hr class="clearfix w-100 d-md-none">
      
    </div>
  </div>
</div>
