@import "../../../assets/scss/custom-bootstrap-variables.scss";

.horizontal{
	background: black;
	display: flex;
	list-style: none;
	justify-content: space-around;
	position: relative;
}
.toolbar-data {
    color: white !important;
    @media screen and (max-width: $small-device) {
        display: none !important;
    }
}

.mega-menu-col-header {
    text-transform: uppercase !important;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: bold;
}

.horizontal li a{
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}
.column{
	padding: 0 15px 15px;
	color: black;
}
.column ul{
	list-style: none;
	padding: 0;
}
.column ul li a{
	padding: 2px 0;
}
.dropdown{
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	display: flex;
	justify-content: space-between;
	background: white;
    visibility: hidden;
    z-index: 1;
}
.horizontal li:hover .dropdown{
    visibility: visible;
}

.horizontal li:hover .toolbar-data {
    background-color: white;
    color: black !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}